Repository flybywiresim/aircraft, pull requests merged in 2024-11, with the labels that each got.

#9167 feat(camera): improved default VR position for A32NX
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/cameras.cfg
Labels: Needs Changelog, QA Tier 1, QA Passed, QA Ready to Test, A32NX, VR

#9267 fix: doors opening when accessing ground services page
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A380_842/A380Services.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9301 docs: fix changelog
  .github/CHANGELOG.md
Labels: QA Not Required

#9302 fix(a380x/fms): Fix FMS/PERF/TO layouting issue
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Tier 1, QA Ready to Test, QA A380 Only, A380X

#9190 fix(a380x): add missing telex check
  .github/CHANGELOG.md
  fbw-a380x/src/systems/extras-host/index.ts
  fbw-a380x/src/systems/extras-host/modules/telex_check/TelexCheck.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9130 feat(a380x/mfd): whitelist keyboard inputs to keys present on the KCCU
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/InputField.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9126 fix(a380): fix seatbelts tooltip
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
Labels: Needs Changelog, Waiting For Response, QA Passed, QA Not Required, QA A380 Only, A380X

#9125 feat(fdr): separate A32NX and A380X FDR files and converters; added additional data
  fbw-a32nx/src/wasm/fbw_a320/build.sh
  fbw-a32nx/src/wasm/fbw_a320/src/AdditionalData.h
  fbw-a32nx/src/wasm/fbw_a320/src/EngineData.h
  fbw-a32nx/src/wasm/fbw_a320/src/FlightDataRecorder.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/FlightDataRecorder.h
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.h
  fbw-a32nx/src/wasm/fbw_a320/src/interface/SimConnectData.h
  fbw-a32nx/src/wasm/fbw_a320/src/interface/SimConnectInterface.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/interface/SimConnectInterface.h
  fbw-a32nx/src/wasm/fbw_a320/src/recording/FlightDataRecorder.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/recording/FlightDataRecorder.h
  fbw-a32nx/src/wasm/fbw_a320/src/recording/RecordingDataTypes.h
  fbw-a380x/src/wasm/fbw_a380/build.sh
  fbw-a380x/src/wasm/fbw_a380/src/AdditionalData.h
  fbw-a380x/src/wasm/fbw_a380/src/EngineData.h
  fbw-a380x/src/wasm/fbw_a380/src/FlightDataRecorder.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlightDataRecorder.h
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/FuelSystemData.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectData.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/recording/FlightDataRecorder.cpp
  fbw-a380x/src/wasm/fbw_a380/src/recording/FlightDataRecorder.h
  fbw-a380x/src/wasm/fbw_a380/src/recording/RecordingDataTypes.h
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/SimOptionsPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/sync.ts
  tools/fdr2csv/a32nx/Cargo.lock
  tools/fdr2csv/a32nx/Cargo.toml
  tools/fdr2csv/a32nx/build.rs
  tools/fdr2csv/a32nx/src/headers.rs
  tools/fdr2csv/a32nx/src/main.rs
  tools/fdr2csv/a32nx/wrapper.hpp
  tools/fdr2csv/a380x/Cargo.lock
  tools/fdr2csv/a380x/Cargo.toml
  tools/fdr2csv/a380x/build.rs
  tools/fdr2csv/a380x/src/headers.rs
  tools/fdr2csv/a380x/src/main.rs
  tools/fdr2csv/a380x/wrapper.hpp
  tools/fdr2csv/common/Cargo.toml
  tools/fdr2csv/common/src/csv_header_serializer.rs
  tools/fdr2csv/common/src/error.rs
  tools/fdr2csv/common/src/lib.rs
  tools/fdr2csv/wrapper.hpp
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9288 feat(ATSU): Optimize DCDU renderings
  fbw-a32nx/src/systems/instruments/src/DCDU/elements/DatalinkMessage.tsx
  fbw-a32nx/src/systems/instruments/src/DCDU/elements/MessageVisualization.tsx
  fbw-common/src/systems/datalink/common/src/components/Convert.ts
  fbw-common/src/systems/datalink/common/src/messages/CpdlcMessage.ts
  fbw-common/src/systems/datalink/router/src/Router.ts
  fbw-common/src/systems/datalink/router/src/webinterfaces/HoppieConnector.ts
Labels: QA Tier 1, QA Ready to Test, A32NX

#9351 fix(nd): reuse the terrain NanoVG texture and fix memory leak
  .github/CHANGELOG.md
  fbw-common/src/wasm/terronnd/build.sh
  fbw-common/src/wasm/terronnd/src/navigationdisplay/display.h
Labels: ND, A380X

#8998 fix(a32nx): Fix Chock Code for new GSX Update
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO.xml
  fbw-a32nx/src/behavior/src/A32NX_Exterior.xml
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9390 chore: correct a380x issue template
  .github/ISSUE_TEMPLATE/bug_report_a380x.yaml
Labels: QA Not Required

#9382 fix(a380x): Fix RCDR GND CTL push button
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_Misc.xml
Labels: QA Not Required, A380X

#9306 fix(a380x): FMS, ECL, BTV fallback fixes
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/FplnRevisionsMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/InputField.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/NormalProcedures.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsNormalChecklists.ts
Labels: Needs Changelog, QA Passed, QA A380 Only, A380X

#9377 feat(a380x): QoL: Add virtual ECL soft keys
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/EWD/config.json
  fbw-a380x/src/systems/instruments/src/EWD/elements/EclClickspots.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/WdAbstractChecklistComponent.tsx
  fbw-a380x/src/systems/instruments/src/EWD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/EWD/style.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/IconButton.tsx
  fbw-common/src/systems/instruments/src/EFB/AircraftContext.ts
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/RealismPage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9309 feat(A380x): implement LOGO LT switch functionality
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9143 fix: A380X fix page cycling with ACP ALL button
  .github/CHANGELOG.md
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/ecam-cp.xml
  fbw-a380x/src/systems/instruments/src/SD/SystemDisplay.tsx
  fbw-a380x/src/systems/shared/src/EcamSystemPages.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
Labels: QA Tier 1, QA Passed, QA A380 Only, A380X

#9252 fix(a380x): Baro Knob Fix
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_FCU.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_Misc.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9330 fix(ui): mitigate pop-up camera state bugs
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/JS/fbw-a380x/A32NX_Util.js
  fbw-a380x/src/systems/shared/src/popup.ts
  fbw-common/src/systems/shared/src/popup.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9402 chore: try to improve deconflicting with CHANGELOG
  .gitattributes
Labels: QA Not Required

#9418 fix(github): remove old asobo branch mention
  .github/Contributing.md
Labels: QA Not Required

#9422 docs: add missing entry to CHANGELOG.md
  .github/CHANGELOG.md
Labels: QA Not Required

#9374 feat(a380x/ap): improved support of 4x simulation rate
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchNormalLaw.h
Labels: QA Tier 1, QA Ready to Test, QA A380 Only, A380X

#9277 fix(A380X/PFD): update pitch trim indicator conditions
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9421 fix(a32nx/fans): restore portuguese station codes
  .github/CHANGELOG.md
  fbw-common/src/systems/datalink/common/src/com/FutureAirNavigationSystem.ts
Labels: QA Not Required

#9438 fix(a380x/mfd): Fixed DIRECT TO selection of active waypoint does nothing
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDirectTo.tsx
Labels: QA Tier 1, QA Passed, QA A380 Only

#9387 fix(a380x/flight model): Fix stall and auto rotate issues
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
Labels: Needs Accuracy Check, QA Tier 1, QA Passed, QA A380 Only, A380X

#9452 docs: updating README.md with current repo structure
  docs/README.md
  fbw-a32nx/src/localization/README.md
  fbw-a380x/src/localization/README.md
  fbw-common/src/systems/instruments/src/EFB/Localization/README.md
Labels: QA Not Required

#9463 ci: fix rename standalone part 001
  .github/workflows/master.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: QA Not Required, A380X

#9467 revert: fix(a380x/flight model): Fix stall and auto rotate issues
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
Labels: QA Not Required, A380X

#9429 fix(a380x/jetway): Jetway connections tweak
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9174 fix(a380x/afs): remove v/s knob push action
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_FCU.xml
  fbw-a380x/src/systems/instruments/src/FCU/Managers/VerticalSpeedManager.ts
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectData.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.h
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9454 fix(a380x): MFD/SURV: Fix DEFAULT SETTINGS for TCAS
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X, MFD

#9397 feat(a380x): Update Initial Fuel Levels
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/FuelConfiguration_A380X.h
Labels: QA Tier 1, QA Passed, QA A380 Only, A380X

#9447 fix(a380x/engines): Another taxi thrust adjustment
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9445 fix(flaps/spoilers): Fix flap animation position and interim fix for spoilers animation low end too smooth
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_EXTERIOR.xml
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/spoilers.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/flap_slat.rs
Labels: 3D Model, QA Tier 1, QA Passed, A380X

#9355 refactor(a380x/btv): BTV architecture improvements
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/BrakeToVacateDistanceUpdater.ts
  fbw-a380x/src/systems/systems-host/tsconfig.json
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OansBrakeToVacateSelection.ts
  fbw-common/src/systems/instruments/src/OANC/index.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/BtvPublisher.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/FmsOansPublisher.ts
Labels: QA Tier 1, QA Passed, A380X

#9391 fix(a380x): tune oil pressure down to more realistic values
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
Labels: QA Tier 1, QA Passed, A380X

#9424 feat(a380x/flex): Wing flex tuning
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/systems/a380_systems/src/structural_flex.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9477 feat(a380x/fws): Add V1 callout
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9419 chore(a380x): Clean up MFD event handlers
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDuplicateNames.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/Button.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/ContextMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/IconButton.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/InputField.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/PageSelectorDropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/RadioButtonGroup.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/SurvButton.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/TopTabNavigator.tsx
Labels: QA Tier 2, QA Passed, QA A380 Only, A380X

#8974 fix(fm): don't update T-P position if we aren't inserting a direct to
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
  fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanService.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/legs/FlightPlanLeg.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/segments/OriginSegment.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/sync/FlightPlanEvents.ts
Labels: QA Tier 1, QA Passed, A32NX, A380X

#9370 refactor(a380x/sd): Move mailbox to MSFS avionics framework
  fbw-a380x/mach.config.js
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/panel/panel.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
  fbw-a380x/src/systems/instruments/src/AtcMailbox/.eslintrc.js
  fbw-a380x/src/systems/instruments/src/AtcMailbox/AtcMailbox.tsx
  fbw-a380x/src/systems/instruments/src/AtcMailbox/config.json
  fbw-a380x/src/systems/instruments/src/AtcMailbox/instrument.tsx
  fbw-a380x/src/systems/instruments/src/AtcMailbox/style.scss
  fbw-a380x/src/systems/instruments/src/AtcMailbox/tsconfig.json
  fbw-a380x/src/systems/instruments/src/Common/LegacyCdsDisplayUnit.tsx
  fbw-a380x/src/systems/instruments/src/SD/Mailbox.tsx
  fbw-a380x/src/systems/instruments/src/SD/SystemDisplay.tsx
Labels: QA Tier 1, QA Passed, A380X

#9103 fix(fms): use station declination for pbx/pbd
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_NewWaypoint.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_PilotsWaypoint.js
  fbw-a32nx/src/systems/fmgc/src/flightplanning/DataManager.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/interface/DataInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
Labels: QA Tier 1, QA Passed, A32NX, A380X

#8656 fix: keep flight number set even if already taken
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
Labels: QA Passed, A32NX

#9450 feat(navigation): new radio altimeter failures
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/failures/src/a320.ts
  fbw-a32nx/src/wasm/systems/a320_systems/src/navigation.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/lib.rs
  fbw-a380x/src/systems/failures/src/a380.ts
  fbw-a380x/src/wasm/systems/a380_systems/src/navigation.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
  fbw-common/src/wasm/systems/systems/src/failures/mod.rs
  fbw-common/src/wasm/systems/systems/src/navigation/ala52b.rs
Labels: QA Tier 1, Radio Altimeters, QA Passed, A32NX, A380X

#9347 fix(A380x): Showcase + CPT & FO views fix
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cameras.cfg
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9466 feat(hyd): Placeholder logic to inhibit electrical backups
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
Labels: QA Tier 1, Hydraulics, QA Passed, QA Ready to Test, A380X

#9112 feat(a380x): pressurization failures ecam messages
  .github/CHANGELOG.md
  fbw-a32nx/src/wasm/systems/a320_systems/src/air_conditioning.rs
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/mod.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/acs_controller.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/cabin_air.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/cabin_pressure_controller.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/mod.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9284 fix(a380): Fix T/D prediction in PERF CRZ & add T/D reached
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/NXSystemMessages.ts
  fbw-a380x/src/systems/instruments/src/MFD/shared/utils.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FmsMfdPublisher.ts
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9512 docs: remove duplicated changelog line & add missing entry
  .github/CHANGELOG.md
Labels: QA Not Required

#9442 feat(a380x/lights): add cockpit ambient bounce lights
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
Labels: Lighting, QA Tier 1, QA Passed, QA Ready to Test, A380X

#9322 fix(A380X/PERF): Change managed speeds to more realistic numbers
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
Labels: Needs Accuracy Check, QA Tier 1, QA Passed, QA Ready to Test, A380X

#9491 feat(a380x/mfd): Add ATCCOM connect page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomConnect.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomConnect.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AdscButton.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AtccomHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/PageSelectorDropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9524 fix(A380X/PFD): Fix CPT VV button turning on VV on both PFDs
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/FlightPathVector.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9459 fix(a380x/fms): window constraints, deletion, alt formatting
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/legs/FlightPlanLeg.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9515 fix(A380x/SD): fix engine fuel flow and fuel used indicators on cruise page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cruise/CruisePage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9109 fix(a380x/fire): better engine fire response
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/EWD/EWD.tsx
  fbw-a380x/src/systems/instruments/src/EWD/shared/EwdSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Engine/elements/EngineColumn.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9496 fix(a380x/efb): Fixed window handle being clickable through flyPad Screen
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/ModelBehaviorDefs/A32NX/Airbus.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/Airbus.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9529 fix: Update CMakeLists.txt
  fbw-a32nx/src/wasm/fbw_a320/CMakeLists.txt
Labels: QA Not Required

#9493 fix(a380x/engine): Correct throttle number typo
  .github/CHANGELOG.md
  fbw-a380x/src/systems/systems-host/systems/LegacyFwc.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9115 fix(a380x/fms): fix console error when calling `newCityPair`
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9513 fix(ND): Track line not visible in GA TRK or RWY TRK modes (#9474)
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/ND/shared/TrackLine.tsx
Labels: QA Passed, A32NX, A380X

#9362 feat(a380/mfd): status and switching page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvStatusSwitching.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvStatusSwitching.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/SurvStatusButton.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/SurvStatusItem.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
Labels: QA Tier 1, QA Passed, A380X

#9257 fix(EFB): Agnostic opt in to error reporting
  fbw-common/src/systems/shared/src/FbwAircraftSentryClient.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9517 fix(fms): fix T/D REACHED not showing in selected speed
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/TodGuidance.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9541 docs: Updated SPAD config after clarification with SPAD
  fbw-a32nx/docs/SPAD.neXt/flybywire-aircraft-a320-neo.xml
Labels: QA Not Required

#8793 feat(brakes): better brakes simulation
  .github/CHANGELOG.md
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/sound/sound.xml
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_BrakeTemp.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_Core.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU.html
  fbw-a32nx/src/systems/instruments/src/EWD/PseudoFWC.ts
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Wheel/Wheel.tsx
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/lib.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/lib.rs
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/brake.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/landing_gear.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/mod.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9148 fix(CDU): suppress TMPY FPLN when no modification made in airways page
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AirwaysFromWaypointPage.js
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9318 feat(RMP): implement LOAD logic in combination with CPDLC
  fbw-a32nx/src/behavior/src/A32NX_Interior_RMP.xml
  fbw-a32nx/src/systems/instruments/src/DCDU/index.tsx
  fbw-a32nx/src/systems/instruments/src/RMP/Components/VhfRadioPanel.tsx
  fbw-common/src/systems/datalink/atc/src/ATC.ts
  fbw-common/src/systems/datalink/atc/src/DigitalOutputs.ts
  fbw-common/src/systems/datalink/atc/src/databus/MailboxBus.ts
  fbw-common/src/systems/datalink/common/src/databus/Mailbox.ts
  fbw-common/src/systems/shared/src/arinc429.ts
Labels: Needs Changelog, QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9567 chore(test): Fix random test fail
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
Labels: QA Not Required

#9481 feat(a380x/fadec): N1 fan protection measures (METOTS, KOZ)
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustGauge.tsx
  fbw-a380x/src/systems/instruments/src/EWD/shared/EwdSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/gauges.tsx
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.h
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust_data.cpp
Labels: QA Tier 1, QA Passed, A380X

#9492 feat(a380x): PFD rudder trim; SEC rudder trim; PRIM+SEC ground logic
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/LowerArea.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PitchTrimDisplay.tsx
  fbw-a380x/src/systems/instruments/src/PFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/RTPI/index.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Fctl/elements/HorizontalDeflectionIndicator.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Fctl/elements/Rudder.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Fctl/elements/RudderTrim.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/rtwtypes.h
  fbw-a380x/src/wasm/fbw_a380/src/prim/Prim.cpp
  fbw-a380x/src/wasm/fbw_a380/src/sec/Sec.cpp
  fbw-common/src/systems/instruments/src/MsfsAvionicsCommon/providers/SecPublisher.ts
  fbw-common/src/systems/instruments/src/MsfsAvionicsCommon/providers/index.ts
Labels: QA Passed, A380X

#9525 fix(a380x): reset perf data on fmc reset
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
Labels: QA Tier 1, QA Passed

#9565 fix(a32nx): tcas power supply and alt switch xml var issue
  .github/CHANGELOG.md
  fbw-a32nx/src/behavior/src/A32NX_Interior_ATC.xml
  fbw-a32nx/src/systems/tcas/src/components/TcasComputer.ts
Labels: QA Tier 1, QA Passed, A32NX

#9558 fix: increase airport timeout for msfs2024 streaming
  .github/CHANGELOG.md
  fbw-common/src/systems/navdata/client/backends/Msfs/Msfs.ts
Labels: QA Tier 1, QA Passed

#9566 fix(a32nx): allow nav radio events during loading
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidTuner.ts
Labels: QA Not Required, A32NX

#9564 fix(a32nx): apu fire detection simvar
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
  fbw-a32nx/src/behavior/src/A32NX_Interior_Fire.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9487 fix(oans): use IRS position & display correct flags when it's not available ♻️
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/OANC/instrument.tsx
  fbw-a32nx/src/systems/instruments/src/OANC/styles.scss
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/ND/oans-style.scss
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/ND/NDSimvarPublisher.tsx
  fbw-common/src/systems/instruments/src/ND/pages/arc/index.tsx
  fbw-common/src/systems/instruments/src/ND/pages/plan/index.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseLSPage.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseNavPage.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseVorPage.tsx
  fbw-common/src/systems/instruments/src/ND/shared/Airplane.tsx
  fbw-common/src/systems/instruments/src/ND/shared/RadioNeedle.tsx
  fbw-common/src/systems/instruments/src/ND/shared/WindIndicator.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OancAircraftIcon.tsx
  fbw-common/src/systems/instruments/src/OANC/OancLabelManager.ts
  fbw-common/src/systems/instruments/src/OANC/OancPositionComputer.ts
  fbw-common/src/systems/instruments/src/OANC/OansBrakeToVacateSelection.ts
  fbw-common/src/systems/instruments/src/OANC/styles.scss
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/systems/shared/src/types/GenericAdirsEvents.ts
  fbw-common/src/systems/shared/src/types/index.ts
Labels: QA Tier 1, QA Passed, A380X

#9521 fix(a380x): Fix max spoiler deflection in PRIM
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
Labels: A380X

#9544 refactor(fcu): modernize FCU avionics-framework code
  fbw-a32nx/src/systems/instruments/src/FCU/Components/AfsDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/Components/EisDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/Components/HdgDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/Components/SpdDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/Components/VerticalDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/FCU.tsx
Labels: QA Tier 1, QA Ready to Test, A32NX

#9543 fix(a380x/air cond): wasm crash during rapid decompression
  .github/CHANGELOG.md
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/cpiom_b.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/local_controllers/full_digital_agu_controller.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/mod.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/acs_controller.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/mod.rs
Labels: QA Tier 1, QA Ready to Test, A380X

#9579 fix(a380x): Pressurization & AMU SimVar fixes
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_EXTERIOR.xml
  fbw-a380x/src/systems/systems-host/systems/Communications/AudioManagementUnit.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Not Required, A380X, MSFS2024

#9523 chore: bump igniter to 1.3.0 :arrow_up:
  package.json
  pnpm-lock.yaml
Labels: QA Not Required

#9470 feat(GPU): Implemented more realistic GPU handling
  .github/CHANGELOG.md
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/config/a32nx/a320-251n/aircraft_preset_procedures.xml
  fbw-a32nx/src/behavior/src/A32NX_Interior_Elec.xml
  fbw-a32nx/src/systems/extras-host/index.ts
  fbw-a32nx/src/systems/extras-host/modules/common/ExtrasSimVarPublisher.ts
  fbw-a32nx/src/systems/extras-host/modules/pushbutton_check/PushbuttonCheck.ts
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Elec/Elec.tsx
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/lib.rs
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_Elec.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/config/a380x/a380-842/aircraft_preset_procedures.xml
  fbw-a380x/src/systems/extras-host/index.ts
  fbw-a380x/src/systems/extras-host/modules/common/ExtrasSimVarPublisher.ts
  fbw-a380x/src/systems/extras-host/modules/key_interceptor/KeyInterceptor.ts
  fbw-a380x/src/systems/extras-host/modules/pushbutton_check/PushbuttonCheck.ts
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/ElecAc/elements/ExternalPower.tsx
  fbw-a380x/src/systems/instruments/src/util.js
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
  fbw-common/src/systems/instruments/src/EFB/Efb.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A320_251N/A320Services.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A380_842/A380Services.tsx
  fbw-common/src/systems/shared/src/AircraftGithubVersionChecker.ts
  fbw-common/src/systems/shared/src/GPUManagement.ts
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/systems/shared/src/publishers/Extras/ExtrasSimVarPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Extras/index.ts
  fbw-common/src/systems/shared/src/publishers/GroundSupportPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsElectricsPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsFlightModelPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsMiscPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/index.ts
  fbw-common/src/systems/shared/src/publishers/index.ts
  fbw-common/src/wasm/systems/systems/src/electrical/external_power_source.rs
Labels: QA Tier 1, QA Passed, A32NX, A380X

#9583 fix: engines not starting properly in msfs 2024
  fbw-common/src/wasm/systems/systems_wasm/src/electrical.rs
  fbw-common/src/wasm/systems/systems_wasm/src/msfs.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, MSFS2024

#9549 fix(a32nx/fcu): the lcd display is now visible with the backlight off
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
  fbw-a32nx/src/systems/instruments/src/FCU/FCU.tsx
  fbw-a32nx/src/systems/instruments/src/FCU/config.json
  fbw-a32nx/src/systems/instruments/src/FCU/instrument.tsx
  fbw-a32nx/src/systems/shared/src/publishers/A32NXElectricalSystemPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsAircraftSystemPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsRadioNavigationPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/index.ts
Labels: QA Tier 1, A32NX

#9581 fix(a380x): EWD thrust fill area & PFD rudder trim visibility
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/gauges.tsx
  fbw-a380x/src/systems/instruments/src/PFD/LowerArea.tsx
Labels: QA Not Required, A380X

#9501 feat(a380/pfd): FMA code cleanup & update possible fmas
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9522 fix(a380x): Fix green dot speed for heavy weights and high altitudes; Fix FMS speed target for GD > CLB speed limit
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-a380x/src/systems/shared/src/PerformanceConstants.ts
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_types.h
Labels: QA Passed, QA Ready to Test, A380X
