Repository flybywiresim/aircraft, pull requests merged in 2024-10, with the labels that each got.

#8993 fix(a32nx): reading light emissive
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#8939 fix(a380x): invert THS animation direction
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_EXTERIOR.xml
Labels: QA Tier 1, Exp, QA A380 Only, A380X

#9004 fix(a380x/eng): XML fix for thrust levers
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_Engine.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
Labels: Showstopper, QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9007 fix(a380x/eng): Reduce thrust on ground at low speeds
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
Labels: Exp, QA Not Required, A380X

#9017 fix(a380x): Improved pitch behavior by heckup
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
Labels: QA Not Required, A380X

#8954 feat(a380x/fms): selected navaids
  fbw-a32nx/src/systems/fmgc/src/navigation/NavigationProvider.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionNavaids.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
  fbw-common/src/systems/instruments/src/Convert.ts
Labels: Exp, QA A380 Only, A380X

#8950 feat(a380x/fms): nav db swap to reset fms
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/DATA/MfdFmsDataStatus.tsx
Labels: Exp, QA A380 Only, A380X

#9025 feat(a380): Change touchdown sound to use radio vertical speed as reference
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: Exp, A380X

#8947 fix(a380x/rmp-amu): rmp and amu improvements :bug:
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/extras-host/index.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidTuner.ts
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/rmp.xml
  fbw-a380x/src/systems/extras-host/index.ts
  fbw-a380x/src/systems/extras-host/modules/camera/Camera.ts
  fbw-a380x/src/systems/extras-host/modules/key_interceptor/KeyInterceptor.ts
  fbw-a380x/src/systems/instruments/src/EFB/config.json
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/CameraPublisher.ts
  fbw-a380x/src/systems/instruments/src/RMP/Pages/Transponder/TransponderController.ts
  fbw-a380x/src/systems/instruments/src/RMP/Pages/Transponder/TransponderPage.tsx
  fbw-a380x/src/systems/instruments/src/RMP/Pages/VhfCom/VhfComController.ts
  fbw-a380x/src/systems/instruments/src/RMP/Systems/AudioControlManager.ts
  fbw-a380x/src/systems/shared/src/notification.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/Communications/SimAudioManager.ts
  fbw-a380x/src/systems/systems-host/systems/Communications/VhfRadio.ts
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/SimOptionsPage.tsx
  fbw-common/src/systems/instruments/src/RMP/Systems/VhfComManager.ts
  fbw-common/src/systems/instruments/src/index.ts
  fbw-common/src/systems/navdata/client/msfs.d.ts
  fbw-common/src/systems/shared/src/AircraftGithubVersionChecker.ts
  fbw-common/src/systems/shared/src/PilotSeat.ts
  fbw-common/src/systems/shared/src/RadioUtils.ts
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/systems/shared/src/notification.ts
Labels: Showstopper, Exp, QA A380 Only, A380X

#9024 fix(a380x/mfd): ils duplicate names error
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDuplicateNames.tsx
  fbw-common/src/systems/navdata/shared/types/BaseFix.ts
  fbw-common/src/systems/navdata/shared/types/NdbNavaid.ts
Labels: Exp, QA A380 Only, A380X

#8883 feat(a380x): ata21 failures
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/Climb.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/approach.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/final.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/hangar.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/overhead/cargo-air-cond.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
  fbw-a380x/src/systems/failures/src/a380.ts
  fbw-a380x/src/systems/instruments/src/Common/types.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/BleedSupply.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustGauge.tsx
  fbw-a380x/src/systems/instruments/src/EWD/shared/ArincValueProvider.ts
  fbw-a380x/src/systems/instruments/src/EWD/shared/EwdSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedHotAir.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedMixerUnit.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedPack.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cond/CondPage.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cond/elements/CargoTemperatures.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cond/elements/CondFan.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cond/elements/CondHotAir.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cond/elements/CondPack.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Cruise/elements/CruisePressure.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/PressPage.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/elements/CabAlt.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/elements/CabinVerticalSpeed.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/elements/DeltaP.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/elements/OutflowValve.tsx
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/cpiom_b.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/local_controllers/full_digital_agu_controller.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/local_controllers/outflow_valve_control_module.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/local_controllers/trim_air_drive_device.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/local_controllers/ventilation_control_module.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/mod.rs
  fbw-common/src/wasm/systems/systems/src/failures/mod.rs
  fbw-common/src/wasm/systems/systems/src/integrated_modular_avionics/core_processing_input_output_module.rs
Labels: A380X

#9014 fix(a380x): Fixes for PFD, MFD, GPWS
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/PendingAirways.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcService.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcServiceInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnAirways.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/PFD/AltitudeIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/shared/src/PerformanceConstants.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFwc.ts
Labels: Waiting for PR merge, Showstopper, Exp, QA Passed, QA A380 Only, A380X

#8983 feat(adirs): aircraft specific programmed adirs
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/lib.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/navigation.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/alternating_current.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/lib.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/navigation.rs
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
  fbw-common/src/wasm/systems/systems/src/shared/mod.rs
Labels: ADIRS, QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9028 build: extraDeps can be relative or absolute
  fbw-a32nx/src/systems/instruments/buildSrc/igniter/tasks.mjs
  fbw-a32nx/src/systems/instruments/src/EFB/config.json
  fbw-a32nx/src/systems/instruments/src/ND/config.json
  fbw-a32nx/src/systems/instruments/src/OANC/config.json
  fbw-a32nx/src/systems/instruments/src/PFD/config.json
  fbw-a380x/src/systems/instruments/buildSrc/igniter/tasks.mjs
  fbw-a380x/src/systems/instruments/src/ND/config.json
  fbw-a380x/src/systems/instruments/src/PFD/config.json
  fbw-a380x/src/systems/instruments/src/RMP/config.json
  fbw-common/docs/README.md
Labels: QA Not Required

#9043 feat(a380): further improved default VR position
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cameras.cfg
Labels: Exp, QA A380 Only, A380X

#9050 revert: revert parts of lint PR and fix broken EFB
  .eslintrc.js
  fbw-common/src/systems/instruments/src/EFB/Apis/Navigraph/Components/Authentication.tsx
  fbw-common/src/systems/instruments/src/EFB/Checklists/ChecklistItemComponent.tsx
  fbw-common/src/systems/instruments/src/EFB/Dashboard/Widgets/FlightWidget.tsx
  fbw-common/src/systems/instruments/src/EFB/Failures/Pages/Comfort/index.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Fuel/A380_842/A380Fuel.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Payload/NarrowBody/A320Payload.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Payload/WideBody/A380Payload.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Pushback/PushbackPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A320_251N/A320Services.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A380_842/A380Services.tsx
  fbw-common/src/systems/instruments/src/EFB/Navigation/Navigation.tsx
  fbw-common/src/systems/instruments/src/EFB/Performance/Widgets/LandingWidget.tsx
  fbw-common/src/systems/instruments/src/EFB/Performance/Widgets/TakeoffWidget.tsx
  fbw-common/src/systems/instruments/src/EFB/Presets/Widgets/AircraftPresets.tsx
  fbw-common/src/systems/instruments/src/EFB/StatusBar/QuickControls.tsx
  fbw-common/src/systems/instruments/src/EFB/TODCalculator/GroundSpeed/GroundSpeedAuto/GroundSpeedAuto.tsx
  fbw-common/src/systems/instruments/src/EFB/UtilComponents/Form/Toggle.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#8972 feat(a380x/tcas): first (legacy port) working tcas implementation
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/MFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/MfdSurvPublisher.ts
  fbw-a380x/src/systems/instruments/src/ND/FmsSymbolsPublisher.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/components/LegacyTcasComputer.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/index.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/lib/TcasConstants.ts
  fbw-a380x/src/systems/tcas/src/components/TcasSoundManager.ts
  fbw-a380x/src/systems/tcas/src/index.ts
  fbw-a380x/src/systems/tcas/src/lib/TcasComponent.ts
  fbw-a380x/src/systems/tcas/src/loop.ts
  fbw-a380x/src/systems/tcas/tsconfig.json
Labels: Showstopper, Exp, QA A380 Only, A380X

#9041 fix(a380x/eng): Engine performance improvement trial 1
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/FadecSimData_A380X.hpp
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/Table1502_A380X.hpp
Labels: Exp, QA Not Required, A380X

#9047 fix(a380x/fws): Various FWS fixes
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: FWS, Exp, QA Passed, A380X

#8919 chore(a380x): port fcu and make fixes
  fbw-a32nx/mach.config.js
  fbw-a380x/mach.config.js
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_FCU.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/panel/panel.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/panel/panel.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/ADF1.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/ADF2.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/ARPT.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/Blank.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/CSTR.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/NDB.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/POINTER1.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/POINTER2.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/TERR.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/TRAF.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/VOR1.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/VOR2.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/VORD.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/WPT.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/WX.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/FCU/A380_FCU.html
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/FCU/A380_FCU.js
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/FCU/legacy/A32NX_BaseAirliners.js
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/FCU/legacy/A32NX_NavSystem.js
  fbw-a380x/src/systems/instruments/src/FCU/.eslintrc.js
  fbw-a380x/src/systems/instruments/src/FCU/Components/Altitude.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Baro.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/FcuDisplay.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Heading.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/NdData.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Speed.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/VerticalSpeed.tsx
  fbw-a380x/src/systems/instruments/src/FCU/FcuBaseInstrument.ts
  fbw-a380x/src/systems/instruments/src/FCU/FcuFsInstrument.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Managers/AltitudeManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/AutopilotManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/BaroManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/HeadingManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/ModeManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/SpeedManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/TemporaryHax.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/VerticalSpeedManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Publishers/FcuPublisher.ts
  fbw-a380x/src/systems/instruments/src/FCU/config.json
  fbw-a380x/src/systems/instruments/src/FCU/definitions.scss
  fbw-a380x/src/systems/instruments/src/FCU/style.scss
  fbw-a380x/src/systems/instruments/src/FCU/tsconfig.json
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FGDataPublisher.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/OverheadPublisher.ts
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsAutopilotAssistancePublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsRadioNavigationPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/index.ts
  fbw-common/src/systems/shared/src/publishers/index.ts
  fbw-common/src/typings/fs-base-ui/html_ui/JS/SimPlane.d.ts
Labels: Tested, QA Tier 1, A380X

#8958 feat(a380/fwc): Add ATA32 abnormal sensed
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata31-32-33.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
Labels: QA Tier 1, Exp, QA Passed, QA A380 Only, A380X

#8992 fix(a380x/mfd): Disable MFD INIT & DEPARTURE page buttons depending on fms phase
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
Labels: QA Tier 1, Exp, QA Passed, QA Ready to Test, A380X

#9065 fix(a380x/efb): igniter dep
  fbw-a380x/src/systems/instruments/src/EFB/config.json
Labels: QA Not Required, A380X

#9064 fix(a380x/rmp): rmp power local var typo
  fbw-a380x/src/systems/instruments/src/RMP/Systems/RmpStateController.ts
Labels: QA Not Required, A380X

#9039 fix(fwc): lgciu hardwired signals typo
  fbw-a32nx/src/systems/instruments/src/EWD/PseudoFWC.ts
Labels: QA Tier 1

#9067 fix(fwc): gear compressed wiring
  fbw-a32nx/src/systems/instruments/src/EWD/PseudoFWC.ts
Labels: QA Not Required

#9018 chore: bump uom to 0.36 :arrow_up:
  Cargo.lock
  fbw-a32nx/src/wasm/systems/a320_hydraulic_simulation_graphs/Cargo.toml
  fbw-a32nx/src/wasm/systems/a320_systems/Cargo.toml
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/Cargo.toml
  fbw-a380x/src/wasm/systems/a380_systems/Cargo.toml
  fbw-a380x/src/wasm/systems/a380_systems_wasm/Cargo.toml
  fbw-common/src/wasm/systems/systems/Cargo.toml
  fbw-common/src/wasm/systems/systems_wasm/Cargo.toml
Labels: QA Tier 2

#8973 fix(a380x): prevented clickspots being activated behind L/G GVTY master guard
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/mip.xml
Labels: Exp, QA Passed, QA A380 Only, A380X

#9029 refactor(efb): culled a380x efb settings, replaced flypadInfo with aircraftContext
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/config/a32nx/a320-251n/flypad-misc.json5
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/aircraft.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/config/a380x/a380-842/airframe.json5
  fbw-a380x/src/base/flybywire-aircraft-a380-842/config/a380x/a380-842/flypad-misc.json5
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-common/src/systems/instruments/src/EFB/AircraftContext.ts
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Pushback/PushbackMap.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AircraftOptionsPinProgramsPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AudioPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/RealismPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/SimOptionsPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/ThrottleConfig/ThrottleConfig.tsx
  fbw-common/src/systems/instruments/src/EFB/StatusBar/QuickControls.tsx
  fbw-common/src/systems/shared/src/UniversalConfigProvider.ts
  fbw-common/src/systems/shared/src/unifiedConfig.ts
Labels: QA Tier 1, Exp, QA Passed, QA Ready to Test, A32NX, A380X

#9070 fix(a380x): Sounds update Oct 2024 by Boris
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: Showstopper, A380X

#9062 fix(a380x): landing light and seat belt overhead switches
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/hangar.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9053 feat(a380/fws): TCAS STBY & Fault messages
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata34.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/components/LegacyTcasComputer.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9072 fix(a380x): OANS performance improvement 1
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorWarningsA380.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
Labels: Exp, QA Not Required, A380X

#9030 fix(a380x): Harmonize FE output / fix cobra
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/DATA/MfdFmsDataDebug.tsx
  fbw-a380x/src/systems/instruments/src/PFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/ArincValueProvider.ts
  fbw-a380x/src/systems/instruments/src/PFD/shared/PfdSpeedsDropInPublisher.tsx
  fbw-a380x/src/wasm/fbw_a380/CMakeLists.txt
  fbw-a380x/src/wasm/fbw_a380/build.sh
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectData.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.h
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/binsearch_u32d.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/binsearch_u32d.h
  fbw-a380x/src/wasm/fbw_a380/src/model/intrp3d_l_pw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/intrp3d_l_pw.h
  fbw-a380x/src/wasm/fbw_a380/src/model/maximum_Abpa9SzA.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/maximum_Abpa9SzA.h
  fbw-a380x/src/wasm/fbw_a380/src/model/plook_binx.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/plook_binx.h
  fbw-a380x/src/wasm/fbw_a380/src/prim/Prim.cpp
Labels: Showstopper, Exp, QA Not Required, A380X

#9066 fix(a380x/fcu): mach format
  fbw-a380x/src/systems/instruments/src/FCU/Managers/SpeedManager.ts
Labels: Showstopper, QA Tier 1, Exp, QA Passed, QA Ready to Test, QA A380 Only, A380X

#8957 fix(a380x/mfd): missed approach perf page inputs
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/shared/src/AirlineModifiableInformation.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#8982 fix(a380x): spawn states - XPDR, switches and payload + misc fixes
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/systems/systems-host/systems/Communications/Transponder.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/components/LegacyTcasComputer.ts
Labels: QA Tier 1, Exp, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9076 feat(gear): Added simple physics on 380X gear bogey
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-common/src/wasm/systems/systems/src/landing_gear/mod.rs
Labels: QA Tier 1, Exp, QA A380 Only, A380X

#9059 fix(a380x/ewd): hide bleed supply based on engine & thrust limit type
  fbw-a380x/src/systems/instruments/src/EWD/EWD.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/BleedSupply.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustRatingMode.tsx
  fbw-a380x/src/systems/instruments/src/EWD/shared/EwdSimvarPublisher.tsx
Labels: QA Tier 1, Exp, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9082 build: fixes cmake config after other PR changed and removed files.
  fbw-a380x/src/wasm/fbw_a380/CMakeLists.txt
Labels: QA Not Required, A380X

#9083 fix(a380x/window): Hotfix for Windows in Flight
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/interactive-parts.xml
Labels: QA Not Required, A380X

#9063 fix(a380x/fms): use estimated landing weight for characteristic speeds
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/VerticalProfileComputationParameters.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/Navigation.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/NavigationProvider.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-common/src/systems/shared/src/arinc429.ts
Labels: Showstopper, QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9085 fix(brakes): Instinctive disconnect only when AB active
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/autobrakes.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/autobrakes.rs
  fbw-common/src/wasm/systems/systems/src/engine/reverser.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/reverser.rs
Labels: QA Passed, QA Ready to Test, A380X

#9071 fix(a380x): Flight model update by heckup and engine performance boost
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/Polynomials_A380X.hpp
Labels: Showstopper, QA Tier 2, QA Ready to Test, QA A380 Only, A380X

#8980 feat(pfd/a380x): Short term managed speed
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/PFD/style.scss
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9057 feat(a380x): Add "AUTO BRK OFF" ECAM memo, fuel feed tank+ZFW not set faults
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/DestinationWindow.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/InsertNextWptFrom.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/MFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata28.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsNormalChecklists.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFwc.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyGpws.ts
  fbw-a380x/src/systems/systems-host/systems/LegacySoundManager.ts
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
Labels: QA Passed, QA A380 Only, A380X

#9081 fix(a380x/EFB): updated checklists.json5 to match data from ECL
  fbw-a380x/src/base/flybywire-aircraft-a380-842/config/a380x/a380-842/checklists.json5
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#8985 feat(a380x/payload): redone boarding agents (priority boarding, stairs, etc)
  fbw-a32nx/src/wasm/systems/a320_systems/src/payload/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/payload/mod.rs
  fbw-common/src/wasm/systems/systems/src/payload/mod.rs
Labels: QA Tier 1, QA Ready to Test, QA A380 Only, A380X

#9001 feat(elec): use signals from ADIRS and LGCIU instead of context in electrical system
  .github/CHANGELOG.md
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/alternating_current.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/direct_current.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/lib.rs
  fbw-common/src/wasm/systems/systems/src/electrical/battery_charge_limiter.rs
Labels: QA Tier 1, QA Ready to Test, A32NX

#8782 feat(fms): allow SID name to be displayed on the ND
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A320AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A380AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/AircraftConfigTypes.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
Labels: QA Tier 1, QA Passed, A380X

#9044 fix(fms): do not transmit bearing to ND for manual legs
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9045 fix(a380x): Various fuel system fixes
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/Climb.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/approach.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/final.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/hangar.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
  fbw-a380x/src/systems/instruments/src/SD/Pages/FuelPage.tsx
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FuelSystemPublisher.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuelInit.ts
Labels: Showstopper, QA Tier 2, QA Ready to Test, A380X

#9088 fix(a380x-fire): hide items of abnormal fire test when on ground
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata26.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9069 fix(a380x): FMS+ROP/ROW fixes
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A380AircraftConfig.ts
  fbw-a32nx/src/systems/instruments/src/OANC/instrument.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FmsOansPublisher.ts
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/ND/shared/BtvRunwayInfo.tsx
  fbw-common/src/systems/instruments/src/ND/shared/RwyAheadAdvisory.tsx
  fbw-common/src/systems/instruments/src/OANC/BrakeToVacateUtils.ts
  fbw-common/src/systems/instruments/src/OANC/BtvPublisher.ts
  fbw-common/src/systems/instruments/src/OANC/FcuBusPublisher.ts
  fbw-common/src/systems/instruments/src/OANC/FmsOansPublisher.ts
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OancControlPanelUtils.ts
  fbw-common/src/systems/instruments/src/OANC/OancMapUtils.ts
  fbw-common/src/systems/instruments/src/OANC/index.ts
  fbw-common/src/systems/shared/src/arinc429.ts
  fbw-common/src/systems/shared/src/publishers/FcuBusPublisher.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/BtvPublisher.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/FmsOansPublisher.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/index.ts
  fbw-common/src/systems/shared/src/publishers/index.ts
Labels: QA Ready to Test, QA A380 Only, A380X

#9090 fix(a380x/fmc): Characteristic speeds for CONF 1
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9073 fix(a380x): Model update main repo changes (cabin lights, door anims)
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_EXTERIOR.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/door_animations.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/interactive-parts.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
  fbw-a380x/src/localization/msfs/en-US.locPak
Labels: Showstopper, 3D Model, QA Not Required, A380X

#9077 fix(a380x/SD): Hook up door SD page to door status
  fbw-a380x/src/systems/instruments/src/Common/types.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Doors/DoorPage.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Doors/elements/CabinDoor.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Doors/elements/CargoDoor.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Engine/EngPage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9089 fix(elec): Deactivate seats electrical when no elec
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/interactive-parts.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9101 fix(a380x/fms): Bring back predictions on ground
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
Labels: Showstopper, QA Tier 1, QA Passed, QA A380 Only, A380X

#9060 feat(a380x): air conditioning and ventilation ecam messages
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/cpiom_b.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/mod.rs
Labels: QA Tier 1, QA Passed, QA A380 Only, A380X

#9105 fix(a380x): fixed strange behaviors in FBW computers
  fbw-a380x/src/wasm/fbw_a380/CMakeLists.txt
  fbw-a380x/src/wasm/fbw_a380/build.sh
  fbw-a380x/src/wasm/fbw_a380/src/model/A380LateralNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380LateralNormalLaw.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotLaws.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine.h
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/look2_pbinlxpw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/look2_pbinlxpw.h
Labels: Showstopper, QA Tier 1, QA A380 Only, A380X

#9108 fix(a380x/xml): fix ecam control panel visibility
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/ecam-cp.xml
Labels: QA Not Required

#9111 fix(a380x/fws): Improve AP&A/THR disco logic; also process quick successions of AP instinctive disc. p/b presses
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsNormalChecklists.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
Labels: Showstopper, QA Passed, QA A380 Only, A380X

#9113 fix(a380x/btv): Remove problematic auto-selection of BTV runway
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
Labels: Showstopper, QA Passed, QA A380 Only, A380X

#9116 fix: make datastorage aircraft specific
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Utils/NXDataStore.js
  fbw-a380x/src/systems/instruments/src/Common/LegacyCdsDisplayUnit.tsx
  fbw-a380x/src/systems/instruments/src/Common/persistence.tsx
  fbw-a380x/src/systems/instruments/src/SD/StatusArea.tsx
  fbw-a380x/src/systems/shared/src/NXUnits.ts
  fbw-a380x/src/systems/shared/src/persistence.ts
  fbw-a380x/src/systems/shared/src/units.ts
  fbw-common/src/systems/shared/src/persistence.ts
Labels: Showstopper, QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9102 fix(a380x/fuel): Fix fuel system update rate and balancing issues
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/systems/shared/src/UpdateThrottler.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
Labels: Showstopper, QA A380 Only, A380X

#9124 fix(a380x): do not show landing elevation on pfd during takeoff
  fbw-a380x/src/systems/instruments/src/PFD/AltitudeIndicator.tsx
Labels: QA Not Required, A380X

#9104 fix(a380x/doors): disallow opening doors in mid-flight
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/door_animations.xml
Labels: 3D Model, QA Tier 1, QA Passed, QA A380 Only, A380X

#9123 fix(a380x): XML changes for a380x model update 241022
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/door_animations.xml
Labels: Showstopper, QA Not Required, A380X

#8833 refactor: A380 batt display change
  fbw-a380x/src/systems/instruments/src/BAT/index.tsx
  fbw-a380x/src/systems/instruments/src/BAT/style.scss
  fbw-common/src/systems/instruments/src/BAT/BatDisplay.tsx
Labels: QA Passed, QA Ready to Test, A380X

#9137 fix(A380x): Turned off PB lights for INOP systems on upper OVHD
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
Labels: QA A380 Only, A380X

#9141 chore: Sound update Oct 25, 2024
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: Showstopper, QA Not Required, A380X

#9034 fix(fms): merge constraints when stringing
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableArrivalsPage.js
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9127 fix(a380x/eng): Adjust taxi thrust
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
Labels: QA A380 Only, A380X

#9140 fix(a380x/mfd): Remove deduplication dialog when starting airways
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnAirways.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/README.md
Labels: Showstopper, QA Passed, QA A380 Only, A380X

#9134 docs(a380x): Add automatic pith trim setting to inop sys
  fbw-a380x/README.md
Labels: QA Not Required, A380X

#9132 docs(a380x): remove tcas & efis cp from 380 inop sys
  fbw-a380x/README.md
Labels: QA Not Required, A380X

#9138 fix(380/fuel): reset valvestates when refueling
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
  fbw-a380x/src/wasm/systems/a380_systems/src/fuel/fuel_quantity_management_system.rs
Labels: QA Tier 2, A380X

#9146 fix: undo change impacting performance in cpp logging
  fbw-common/src/wasm/cpp-msfs-framework/CMakeLists.txt
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/LICENSE
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/README.md
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/args.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/base.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/chrono.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/color.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/compile.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/core.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/fmt.cc
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/format-inl.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/format.cc
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/format.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/os.cc
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/os.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/ostream.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/printf.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/ranges.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/std.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/fmt/xchar.h
  fbw-common/src/wasm/cpp-msfs-framework/lib/logging.h
Labels: QA Passed, A380X

#9162 fix(a380x): Sounds update Oct 28th: Reversers, misc (xml part)
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: Showstopper, QA Not Required, A380X

#9163 fix(docs): added changelog entry for #9146
  .github/CHANGELOG.md
Labels: QA Not Required

#9157 fix(a32nx/fcu): baro unit auto init
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_BaroSelector.js
Labels: QA Tier 1, A32NX

#9117 fix(a380x): GSX config update by Chris
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/GSX.cfg
Labels: QA A380 Only, A380X

#9168 fix(a380x/docs): Clarify fuel system items inop
  fbw-a380x/README.md
Labels: QA Not Required, QA A380 Only, A380X

#9145 fix: A380X temporarily deactivate the MSFS-PLN sync in the A380X
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-common/src/systems/instruments/src/EFB/AircraftContext.ts
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/SimOptionsPage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9164 fix(a380x/fcu): pre-sel not recognising baro unit change
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/FCU/Managers/BaroManager.ts
Labels: QA Tier 1, QA Passed, QA A380 Only, A380X

#9106 fix(flaps): Fix flap index reported to msgs on the 380X
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/flaps.rs
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9172 build: harden git info
  scripts/git_build_info.js
Labels: CI, QA Not Required

#9179 fix(a380x): Remove bulk cargo from GSX profile
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/GSX.cfg
Labels: QA Not Required, A380X

#9173 docs(a380x): add afs cp alt button to inop
  fbw-a380x/README.md
Labels: QA Not Required

#9185 fix(a380x/sound): Remove old remnant of AP disconnect sound
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: Showstopper, A380X

#9165 fix(a380x/fcu): altitude and baro instruments should show values during light test
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/FCU/FcuFsInstrument.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9142 feat(a380x/fcu): metric alt button
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/fcu.xml
Labels: Needs Changelog, QA Tier 1, QA Passed, QA A380 Only, A380X

#8927 fix(a32nx): update for GSX config
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/GSX.cfg
Labels: Needs Changelog, QA Tier 1, QA Passed, A32NX
