Repository flybywiresim/aircraft, pull requests merged in 2024-09, with the labels that each got.

#8862 chore(a380x): no more dev mode by default
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
Labels: QA Not Required

#8863 ci: Remove Project action
  .github/workflows/pr-qa-reg.yml
Labels: CI

#8845 feat(pfd): A380 improvements
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorFixed.tsx
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorHorizon.tsx
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
Labels: QA Not Required, A380X

#8859 fix(a380x): preliminary radio nav fixes
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidTuner.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionNavaids.tsx
Labels: QA Not Required

#8824 fix(a380x): Enable FLEX, fix MFD SURV/CONTROLS XPDR auto fill
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
Labels: QA Not Required, A380X

#8835 refactor: Wired up OVHD FADEC buttons to SD ENG page
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/systems/instruments/src/SD/Pages/Engine/elements/EngineColumn.tsx
Labels: A380X

#8762 fix: SimVar unit names
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/sound/sound.xml
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Crz/Crz.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Press/Press.tsx
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: QA Passed

#8873 fix: clean up unused cruft
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_GPWS.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/A32NX_BaseAirliners.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU.html
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableDeparturesPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_NewWaypoint.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_SelectedNavaids.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FCU/A320_Neo_FCU.html
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/FlightElements/A32NX_Runway.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/FlightElements/A32NX_Waypoint.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/FlightElements/A32NX_WaypointLoader.js
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/legs/index.ts
  fbw-common/src/typings/asobo-vcockpits-instruments/html_ui/Pages/VCockpit/Instruments/Shared/FlightElements/Runway.d.ts
  fbw-common/src/typings/asobo-vcockpits-instruments/html_ui/Pages/VCockpit/Instruments/Shared/FlightElements/WaypointLoader.d.ts
  fbw-common/src/typings/asobo-vcockpits-instruments/html_ui/Pages/VCockpit/Instruments/Shared/FlightElements/index.d.ts
  fbw-common/src/typings/flybywire-vcockpits-instruments/html_ui/Pages/VCockpit/Instruments/A32NX/legacy.d.ts
  fbw-common/src/typings/flybywire-vcockpits-instruments/html_ui/Pages/VCockpit/Instruments/Shared/FlightElements/navdata.d.ts
  fbw-common/src/typings/fs-base-ui/html_ui/JS/Avionics.d.ts
  fbw-common/src/typings/fs-base-ui/html_ui/JS/Flight.d.ts
Labels: QA Tier 2, QA Passed

#8609 feat(acdn): implement AFDX messages according to ARINC667 specification
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/cpiom_b.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/avionics_data_communication_network.rs
  fbw-common/src/wasm/systems/systems/src/integrated_modular_avionics/avionics_full_duplex_switch.rs
  fbw-common/src/wasm/systems/systems/src/integrated_modular_avionics/core_processing_input_output_module.rs
  fbw-common/src/wasm/systems/systems/src/integrated_modular_avionics/input_output_module.rs
  fbw-common/src/wasm/systems/systems/src/integrated_modular_avionics/mod.rs
Labels: A380X

#8869 fix(a380x/ewd): Fix rev indication (REV 2/REV 3)
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustGauge.tsx
Labels: QA Not Required, A380X

#8879 feat(a380x): Add ATSU / Connect to TELEX
  fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanService.ts
  fbw-a380x/src/systems/instruments/src/ATCCOM/tsconfig.json
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/atsu.ts
  fbw-a380x/src/systems/tsconfig.json
Labels: QA Not Required, A380X

#8877 feat(a380x): efis vor needle and glareshield buttons
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/efis-cp.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/glareshield.xml
Labels: QA Not Required

#8878 feat(tcas): add additional lvars for A429 word compatability
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/tcas/src/components/TcasComputer.ts
  fbw-a32nx/src/systems/tcas/src/lib/TcasConstants.ts
Labels: QA Not Required

#8898 fix(a380x/fuel): Fixes fueltransfers not applying to feed tanks + engines not turning off without fuel
  .vscode/c_cpp_properties.json
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/EngineControl_A380X.cpp
Labels: A380X

#8920 fix(a380x/rmp): rmp 2 pot
  fbw-a380x/src/systems/instruments/src/RMP/Systems/RmpStateController.ts
Labels: Showstopper, A380X

#8901 fix(a380x): Various fixes for FCU, MFD, ND, lighting
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/PseudoWaypoints.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/TransitionPicker.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/transitions/FixedRadiusTransition.ts
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/ecam-cp.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/efis-cp.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/fcu.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/kccu.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/keyboard.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_MCDU.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/mip.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/overhead/cargo-air-cond.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/rmp.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/FCU/A380_FCU.css
  fbw-a380x/src/systems/instruments/src/Common/definitions.scss
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/DATA/MfdFmsDataStatus.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnAirways.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnArr.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDep.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDirectTo.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnHold.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionIrs.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionNavaids.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/definitions.scss
  fbw-common/src/wasm/terronnd/build.sh
  fbw-common/src/wasm/terronnd/src/navigationdisplay/displaybase.cpp
  package.json
Labels: Showstopper, QA Passed, A380X

#8908 fix(a380x): vor tuning
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidTuner.ts
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/Climb.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/approach.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/final.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
Labels: Showstopper, A380X

#8903 feat(elec): add A380X electrical failures to EFB failure page
  fbw-a380x/src/systems/failures/src/a380.ts
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
Labels: QA A380 Only, A380X

#8876 fix(a380x): OANS authentication + VD improvements
  fbw-a32nx/src/systems/instruments/src/ND/NDSimvarPublisher.tsx
  fbw-a32nx/src/systems/instruments/src/OANC/instrument.tsx
  fbw-a32nx/src/systems/instruments/src/OANC/styles.scss
  fbw-a380x/README.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/SimplaneValueProvider.ts
  fbw-a380x/src/systems/instruments/src/ND/NDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.scss
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-a380x/src/systems/instruments/src/ND/VerticalDisplay.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/ND/oans-style.scss
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-a380x/src/systems/instruments/src/PFD/AltitudeIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorHorizon.tsx
  fbw-a380x/src/systems/instruments/src/PFD/HeadingIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/SD/Mailbox.tsx
  fbw-common/src/systems/instruments/src/ND/NDSimvarPublisher.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseLSPage.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseVorPage.tsx
  fbw-common/src/systems/instruments/src/OANC/BrakeToVacateUtils.ts
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OancAircraftIcon.tsx
  fbw-common/src/systems/instruments/src/OANC/OansControlEventPublisher.ts
  fbw-common/src/systems/instruments/src/OANC/styles.scss
Labels: Showstopper, QA Passed, A32NX, A380X

#8926 fix(a380x): Various fixes pt.2: MFD, pitch trim switch, EFIS sync for LS button
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidTuner.ts
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/pedestal/pedestal-inputs.xml
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionNavaids.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FcuBusPublisher.ts
  fbw-a380x/src/systems/instruments/src/PFD/HeadingIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/LandingSystemIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
Labels: Showstopper, QA Passed, QA A380 Only, A380X

#8934 fix(fms): always show runway ident on lat/vert rev page
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_LateralRevisionPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_VerticalRevisionPage.js
Labels: QA Tier 1, QA Passed

#8892 fix(adirs): fix ADIRS low speed warning discrete logic
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
Labels: QA Passed

#8945 fix(fms): nav radio frequency entry
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_NavRadioPage.js
  fbw-a32nx/src/systems/fmgc/src/index.ts
  fbw-common/src/systems/shared/src/RadioUtils.spec.ts
  fbw-common/src/systems/shared/src/RadioUtils.ts
Labels: QA Tier 1, QA Passed

#8946 docs: fix RadioUtils.unpackBcd16
  fbw-common/src/systems/shared/src/RadioUtils.ts
Labels: QA Not Required

#8923 chore(a380x): remove unused files
  fbw-a380x/src/systems/atsu/rollup.config.js
  fbw-a380x/src/systems/atsu/src/AOC.ts
  fbw-a380x/src/systems/atsu/src/ATC.ts
  fbw-a380x/src/systems/atsu/src/ATSU.ts
  fbw-a380x/src/systems/atsu/src/AtsuStatusCodes.ts
  fbw-a380x/src/systems/atsu/src/Common.ts
  fbw-a380x/src/systems/atsu/src/InputValidation.ts
  fbw-a380x/src/systems/atsu/src/com/Datalink.ts
  fbw-a380x/src/systems/atsu/src/com/FutureAirNavigationSystem.ts
  fbw-a380x/src/systems/atsu/src/com/vhf/Common.ts
  fbw-a380x/src/systems/atsu/src/com/vhf/VDL.ts
  fbw-a380x/src/systems/atsu/src/com/vhf/VHF.ts
  fbw-a380x/src/systems/atsu/src/com/webinterfaces/HoppieConnector.ts
  fbw-a380x/src/systems/atsu/src/com/webinterfaces/NXApiConnector.ts
  fbw-a380x/src/systems/atsu/src/components/ATS623.ts
  fbw-a380x/src/systems/atsu/src/components/DcduLink.ts
  fbw-a380x/src/systems/atsu/src/components/FlightStateObserver.ts
  fbw-a380x/src/systems/atsu/src/components/InputValidationFansA.ts
  fbw-a380x/src/systems/atsu/src/components/InputValidationFansB.ts
  fbw-a380x/src/systems/atsu/src/components/UplinkMessageInterpretation.ts
  fbw-a380x/src/systems/atsu/src/components/UplinkMessageMonitoring.ts
  fbw-a380x/src/systems/atsu/src/components/UplinkMessageStateMachine.ts
  fbw-a380x/src/systems/atsu/src/index.ts
  fbw-a380x/src/systems/atsu/src/messages/AtisMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/AtsuMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/AtsuTimestamp.ts
  fbw-a380x/src/systems/atsu/src/messages/CpdlcMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/CpdlcMessageElements.ts
  fbw-a380x/src/systems/atsu/src/messages/DclMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/FreetextMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/MetarMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/OclMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/TafMessage.ts
  fbw-a380x/src/systems/atsu/src/messages/WeatherMessage.ts
  fbw-a380x/src/systems/atsu/tsconfig.json
  fbw-a380x/src/systems/fmgc/src/flightplanning/new/FlightPlanManager.spec.ts
  fbw-a380x/src/systems/fmgc/src/flightplanning/new/FlightPlanService.spec.ts
  fbw-a380x/src/systems/instruments/buildSrc/aceBuild.mjs
  fbw-a380x/src/systems/instruments/buildSrc/plugins.mjs
  fbw-a380x/src/systems/instruments/template/rollup.js
  fbw-a380x/src/systems/instruments/template/template.html
  fbw-a380x/src/systems/instruments/template/template.js
Labels: QA Passed

#8916 fix(ecam): fix ALL button behavior being inconsitent + cycling through STS page
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/ModelBehaviorDefs/A32NX/Airbus.xml
  fbw-a32nx/src/systems/instruments/src/SD/PagesContainer.tsx
Labels: QA Tier 1, QA Passed

#8937 fix(nd): conflicting and duplicated css :truck:
  fbw-a32nx/src/systems/instruments/src/ND/animations.scss
  fbw-a32nx/src/systems/instruments/src/ND/style.scss
  fbw-a380x/src/systems/instruments/src/ND/animations.scss
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/style.scss
Labels: QA Tier 1, QA Passed, A32NX, A380X

#8955 build: bump fragmenter to v0.8.0 and specify version
  package.json
  pnpm-lock.yaml
  scripts/fragment-ingamepanels-checklist-fix.js
  scripts/fragment_a32nx.js
  scripts/fragment_a380x.js
  scripts/fragmenter_version.js
Labels: QA Not Required

#8664 fix(fms): use entered fob rather than fqi before start
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/ATSU/A320_Neo_CDU_AOC_Init.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
Labels: QA Tier 1, QA Passed

#8949 chore: point vscode at prettier
  .vscode/settings.json
Labels: QA Not Required

#8891 feat(a380x/sd): implement fuel system display page
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
  fbw-a380x/src/systems/instruments/src/SD/Pages/FuelPage.tsx
  fbw-a380x/src/systems/instruments/src/SD/StatusArea.tsx
Labels: Showstopper, A380X

#8893 fix(a380x/mfd): Hide Radio prompt if no precision approach selected
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: A380X

#8922 feat(a380/pfd): Add ARS indication on speed tape
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_GPWS.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Utils/arinc429.js
  fbw-a32nx/src/systems/fmgc/src/components/FcuSync.ts
  fbw-a32nx/src/systems/instruments/src/EWD/PseudoFWC.ts
  fbw-a32nx/src/systems/instruments/src/EWD/Slats.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/AttitudeIndicatorFixed.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/AttitudeIndicatorHorizon.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/shared/ArincValueProvider.ts
  fbw-a32nx/src/systems/instruments/src/RTPI/index.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Common/Spoilers.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Cond/Cond.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Crz/Crz.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Fctl/Fctl.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Press/Press.tsx
  fbw-a32nx/src/systems/instruments/src/SD/Pages/Wheel/Wheel.tsx
  fbw-a380x/src/systems/instruments/src/PFD/LowerArea.tsx
  fbw-a380x/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a380x/src/systems/instruments/src/RTPI/index.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-common/src/systems/instruments/src/ND/shared/RwyAheadAdvisory.tsx
  fbw-common/src/systems/shared/src/arinc429.ts
Labels: QA Tier 2, QA Passed

#8966 feat(a380x/pfd): velocity vector
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorFixed.tsx
  fbw-a380x/src/systems/instruments/src/PFD/FlightPathVector.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/PFD/style.scss
  fbw-common/src/systems/shared/src/Arinc429ConsumerSubject.ts
  fbw-common/src/systems/shared/src/arinc429.ts
Labels: QA Tier 2, QA Passed

#8932 fix(nd): Remove ARC mask for TERR map from A380X ND
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/pages/arc/index.tsx
Labels: A380X

#8975 feat(a380x/cameras): fixed default eyepoint in VR
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cameras.cfg
Labels: Exp, QA A380 Only, A380X

#8938 fix(a380x): arrivals page approach data
  fbw-a32nx/src/systems/fmgc/src/flightplanning/data/landingsystem.ts
  fbw-a32nx/src/systems/fmgc/src/index.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnArr.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/utils.ts
  fbw-a380x/src/systems/instruments/src/MFD/shared/utils.tsx
  fbw-common/src/systems/navdata/client/backends/Msfs/Mapping.ts
  fbw-common/src/systems/navdata/shared/types/Approach.ts
  fbw-common/src/systems/navdata/shared/types/IlsNavaid.ts
  fbw-common/src/systems/navdata/shared/types/VhfNavaid.ts
Labels: QA Tier 1, QA Passed, A380X

#8921 feat(fms): run predictions without v-speeds
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_InitPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/VerticalProfileComputationParameters.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/takeoff/TakeoffPathBuilder.ts
Labels: QA Tier 1, QA Passed, A32NX, A380X
