Repository flybywiresim/aircraft, pull requests merged in 2024-12, with the labels that each got.

#9604 fix: a380 atc_model string
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/aircraft.cfg
Labels: QA Not Required

#9615 fix(sounds): removed old sound restrictions for warning sounds
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/sound/sound.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/sound.xml
Labels: QA Passed

#9623 fix(a380x): Fix "NO ZFW OR ZFWCG DATA" after landing
  .github/CHANGELOG.md
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
Labels: FWS, QA Not Required, A380X

#9622 fix(a380x): Fix erroneous "T.O SPEEDS TOO LOW" warning
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.tsx
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
Labels: QA Passed, A380X

#9591 fix(A32NX/EWD): Change fuel flow steps to 20kg/40lb per hour
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/EWD/FF.tsx
Labels: QA Tier 1, QA Passed, A32NX

#9550 feat(A380X/SD): Add brake temperature color change to amber when brakes hot
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/SD/Pages/Wheel/elements/Wheel.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9570 feat(a380x/fcu): Fix visual issues with FCU light test and missing labels
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/A380X_FCU.ttf
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/fcu/TEST.png
  fbw-a380x/src/fonts/A380X_FCU.sfd
  fbw-a380x/src/systems/instruments/src/FCU/Components/Altitude.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Baro.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Heading.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/NdData.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/VerticalSpeed.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Managers/HeadingManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/SpeedManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Managers/VerticalSpeedManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/style.scss
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9634 build: add vscode build tasks for A380X and A32NX
  .vscode/tasks.json
Labels: QA Not Required

#9642 ci: remove large-files submodule from lint
  .github/workflows/pr-build.yml
Labels: QA Not Required

#9643 fix(a380x/fms): Fix VLS computation for CONF 1
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
Labels: QA Not Required, A380X

#9637 feat(a380x/fcu): add correct QFE label using baro preselect
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/A380X_FCU.ttf
  fbw-a380x/src/fonts/A380X_FCU.sfd
  fbw-a380x/src/systems/instruments/src/FCU/Components/Altitude.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Baro.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Heading.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Speed.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/VerticalSpeed.tsx
  fbw-a380x/src/systems/instruments/src/FCU/style.scss
Labels: QA Tier 1, QA Passed

#9033 fix(fms): move speed limit to performance data
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_VerticalRevisionPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/FMC/A32NX_FMCMainDisplay.js
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/performance/FlightPlanPerformanceData.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9655 feat(fwc): fcu faults
  .github/CHANGELOG.md
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/instruments/src/Common/EWDMessages.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/PseudoFWC.ts
  fbw-a32nx/src/systems/instruments/src/EWD/instrument.tsx
  fbw-a32nx/src/systems/shared/src/publishers/A32NXFcuBusPublisher.ts
  fbw-a32nx/src/wasm/fbw_a320/src/fcu/Fcu.cpp
Labels: QA Tier 1, QA Passed, A32NX

#9650 fix(a380x/pfd): Fix PFD DU / ND DU brightness knobs
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
Labels: Displays, QA Tier 1, QA Passed, A380X

#9569 feat(a32nx): sync flashing across the whole PFD
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/MsfsAvionicsCommon/FlashingElementUtils.tsx
  fbw-a32nx/src/systems/instruments/src/MsfsAvionicsCommon/providers/ExtendedClockProvider.ts
  fbw-a32nx/src/systems/instruments/src/PFD/AltitudeIndicator.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/AttitudeIndicatorFixed.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/AttitudeIndicatorHorizon.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/FlightPathDirector.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/FlightPathVector.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/HeadingIndicator.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/VerticalSpeedIndicator.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/instrument.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/style.scss
Labels: QA Tier 1, QA Passed, A32NX

#9557 fix(a380x): lowered height of pilot and copilot cameras
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cameras.cfg
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9640 fix(elec): exchange execute_calculator_code for trigger_key_event to switch bus connectivity
  .github/CHANGELOG.md
  Cargo.lock
  fbw-a32nx/src/wasm/systems/a320_hydraulic_simulation_graphs/Cargo.toml
  fbw-a32nx/src/wasm/systems/a320_systems/Cargo.toml
  fbw-a380x/src/wasm/systems/a380_systems/Cargo.toml
  fbw-common/src/systems/shared/src/GPUManagement.ts
  fbw-common/src/wasm/systems/systems/Cargo.toml
  fbw-common/src/wasm/systems/systems_wasm/src/electrical.rs
  fbw-common/src/wasm/systems/systems_wasm/src/lib.rs
  fbw-common/src/wasm/systems/systems_wasm/src/msfs.rs
Labels: QA Passed, QA Ready to Test, MSFS2024

#9639 fix(a380x/efis): illuminate range & mode selector during light test
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/efis-cp.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9358 fix(a380x/flightmodel): adjust climb performance
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A320AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A380AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/AircraftConfigTypes.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/CostIndex.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/EngineModel.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/FlightModel.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/Predictions.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/climb/ClimbPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/climb/ClimbStrategy.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/cruise/CruisePathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/DescentStrategy.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/takeoff/TakeoffPathBuilder.ts
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/engines.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/systems/shared/src/OperatingAltitudes.tsx
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/ThrustLimits_A380X.hpp
Labels: QA Tier 2, QA Passed, A32NX, A380X

#9676 fix(a380x/ewd): Show thrust limit in THR% instead of N1
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustGauge.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/ThrustRatingMode.tsx
Labels: QA Not Required, A380X

#9645 fix(a380x/flight model): Fix pitchup and unrecoverable stall
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
Labels: Flight Model, QA Passed, A380X

#9614 feat(a380x/fws): Automatic normal checklist reset
  .github/CHANGELOG.md
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsNormalChecklists.ts
Labels: QA Tier 1, FWS, QA Passed, QA Ready to Test, A380X

#9606 feat(a380x/fma): disconnect ap for ldg message
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X
