Repository flybywiresim/aircraft, pull requests merged in 2025-05, with the labels that each got.

#9940 build: update to Rust 1.85.0 and add ARM64 build support
  .cargo/config.toml
  Cargo.lock
  fbw-a32nx/src/wasm/systems/a320_systems/src/pneumatic.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/air_conditioning/cpiom_b.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/alternating_current.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/acs_controller.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/cabin_pressure_controller.rs
  fbw-common/src/wasm/systems/systems/src/air_conditioning/mod.rs
  fbw-common/src/wasm/systems/systems/src/apu/pw980.rs
  fbw-common/src/wasm/systems/systems/src/electrical/mod.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/linear_actuator.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/mod.rs
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
  fbw-common/src/wasm/systems/systems/src/shared/arinc429.rs
  fbw-common/src/wasm/systems/systems/src/shared/arinc825.rs
  fbw-common/src/wasm/systems/systems/src/simulation/mod.rs
  fbw-common/src/wasm/systems/systems/src/structural_flex/wing_flex.rs
  fbw-common/src/wasm/systems/systems_wasm/src/failures.rs
  package.json
  rust-toolchain.toml
  scripts/dev-env/run-local.cmd
  scripts/dev-env/run-local.sh
  scripts/dev-env/run.cmd
  scripts/dev-env/run.sh
  scripts/lint-rust.sh
Labels: QA Passed

#10054 feat(a380x/fcu): reduce fcu texture size from 5120 to 2560
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/panel/panel.cfg
  fbw-a380x/src/systems/instruments/src/FCU/Components/NdData.tsx
  fbw-a380x/src/systems/instruments/src/FCU/style.scss
Labels: FCU, QA Passed, A380X

#10046 fix(a380x/mfd): fix vert dev not updating in descent phase
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Passed, A380X

#10048 fix(a380x/mfd): Improve MFD F-PLN page when no flightplan or missing predictions
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#10050 fix(fms): do not remove forced turn on legs that require them
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/geometry/GeometryFactory.ts
Labels: FMS, QA Passed

#10074 feat(a32nx/fms): add via auto-selection
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_AvailableArrivalsPage.ts
Labels: QA Tier 1, QA Passed, A32NX

#10028 fix(a32nx/mcdu): remove layout alignment hacks
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A320_Neo_CDU_Format.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A320_Neo_CDU_MainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_FlightPlanPage.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/atsu/A320_Neo_CDU_AOC_Init.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/mcdu.scss
Labels: QA Tier 1, QA Passed, A32NX

#9896 fix(380x/mfd): enter dest data message not clearing automatically
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/wind/WindForecastInputObserver.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/LegacyFmsPageInterface.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_PerformancePage.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#10014 feat(a380x/sd): Improve SD BLEED page visuals and logic
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/BleedPage.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedApu.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedCrossbleed.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedEngine.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedGauge.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedGnd.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedHotAir.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedMixerUnit.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/BleedPack.tsx
  fbw-a380x/src/systems/instruments/src/SD/Pages/Bleed/elements/Valve.tsx
Labels: QA Passed, QA Ready to Test

#10066 feat(a380x): Add default CPT and FO seat positions to FLT files
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/Climb.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/approach.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/final.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/hangar.flt
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
Labels: QA Passed, QA Ready to Test, A380X

#10089 fix(fms): check for undefined before removing forced turn
  fbw-a32nx/src/systems/fmgc/src/flightplanning/legs/FlightPlanLeg.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
Labels: QA Passed

#10085 feat(a32nx/FWS): improve A/THR OFF logic, add A/THR LIMITED
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/Common/EWDMessages.tsx
  fbw-a32nx/src/systems/systems-host/systems/FWC/PseudoFWC.ts
  fbw-common/src/systems/instruments/src/NXLogic.ts
Labels: QA Passed
