Repository flybywiresim/aircraft, pull requests merged in 2025-01, with the labels that each got.

#9658 fix(tcas): use correct altitudes
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/tcas/src/components/TcasComputer.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/components/LegacyTcasComputer.ts
  fbw-common/src/systems/shared/src/types/SwitchingKnobs.ts
  fbw-common/src/systems/shared/src/types/index.ts
Labels: QA Tier 1, QA Passed, A32NX, A380X

#9654 refactor: move auto baro unit to extras host and enable on a380x
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_BaroSelector.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/A32NX_Core.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU.html
  fbw-a32nx/src/systems/extras-host/index.ts
  fbw-a380x/src/systems/extras-host/index.ts
  fbw-common/src/systems/instruments/src/EFB/Dashboard/Widgets/WeatherWidget.tsx
  fbw-common/src/systems/shared/src/extras/BaroUnitSelector.ts
  fbw-common/src/systems/shared/src/extras/index.ts
  fbw-common/src/systems/shared/src/index.ts
  igniter.config.mjs
Labels: QA Tier 1, QA Passed, A32NX, A380X

#9665 fix(a32nx): undo vpilot hax
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/ModelBehaviorDefs/A32NX/AirlinerCommon.xml
Labels: QA Tier 1, QA Passed, A32NX

#9664 fix: enable transition from done phase to preflight phase
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/MfdUiService.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/MfdUIData.ts
Labels: QA Tier 1, QA Passed, A380X

#9707 fix(a380x/pfd): fix meter display colours
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/AltitudeIndicator.tsx
Labels: Displays, QA Passed, QA A380 Only, A380X

#9710 fix(a380x/mfd): fix: round altitude constraints to nearest 10ft in MFD
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed

#9603 fix(a380x/oans): Handle single-digit runway identifiers
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
Labels: QA Passed, QA A380 Only, A380X

#9686 fix(a380x/nd): Remove leading 0s from terrain elevation
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/ND/TerrainMapThresholds.tsx
  fbw-common/src/systems/instruments/src/NavigationDisplay.ts
Labels: ND, QA Passed, A32NX, A380X

#8366 docs: update readme for a380x
  README.md
Labels: QA Not Required

#9719 fix(fms): fix prediction crash due to invalid thrust limit prediction
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A320AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/A380AircraftConfig.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/AircraftConfigTypes.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/EngineModel.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/climb/ClimbPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/climb/ClimbStrategy.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/cruise/CruisePathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/takeoff/TakeoffPathBuilder.ts
Labels: QA Passed

#9670 feat(a380x/fcu): automatically select LS on LOC or APPR arming
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/FCU/FcuFsInstrument.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Managers/LsManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Publishers/FcuPublisher.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9732 fix(a380x/mfd): Use slashed zero as default font for FMS pages
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
Labels: FMS, QA Not Required, A380X

#9695 fix(a32nx/fws): Fix AP disconnection via 3D model inst. disc. push button
  .github/CHANGELOG.md
  fbw-a32nx/src/behavior/src/A32NX_Interior_Misc.xml
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.cpp
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/legacy/generated/A32NX_Interior_Misc.xml
Labels: FWS, QA Passed, A32NX

#9656 fix(a380x/efis): Fix VV pb indicator not turning on when TRK-FPA is selected
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/efis-cp.xml
Labels: QA Tier 1, Please Resolve Conflicts, QA Passed, QA Ready to Test, A380X

#9559 feat(fms): improved nav database for msfs2024
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/NavigationDatabase.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/waypoints/WaypointFactory.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/FsTypes.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/Mapping.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/Msfs.ts
  fbw-common/src/systems/navdata/shared/types/Approach.ts
  fbw-common/src/systems/navdata/shared/types/Arrival.ts
  fbw-common/src/systems/navdata/shared/types/IlsNavaid.ts
  fbw-common/src/systems/navdata/shared/types/ProcedureLeg.ts
  fbw-common/src/systems/navdata/shared/types/VhfNavaid.ts
  fbw-common/src/systems/navdata/shared/types/Waypoint.ts
  fbw-common/src/systems/shared/src/MsfsDetect.ts
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/typings/fs-base-ui/html_ui/JS/common.d.ts
Labels: QA Tier 2, QA Passed

#9743 fix: Use SERVER Callsign for the Hoppie is Station Available Check
  .github/CHANGELOG.md
  fbw-common/src/systems/datalink/router/src/webinterfaces/HoppieConnector.ts
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AtsuAocPage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9535 feat(a380x/mfd): add ATCCOM D-ATIS page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/DAtisBlock.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/AutoPrintIcon.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/AutoUpdateIcon.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/NewAtisIcon.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomDAtis.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomDAtis.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomDAtisReceived.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/README.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AtccomHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/Button.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/IconButton.tsx
Labels: QA Passed, QA A380 Only, A380X

#9540 fix(a380/mfd): RTE RSV, AMI defaults, trip fuel, FOB & ETA in fuel and load
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/utils.ts
  fbw-a380x/src/systems/shared/src/AirlineModifiableInformation.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9685 feat(a380x/fms): FMC reset through overhead reset panel
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/overhead/reset.xml
  fbw-a380x/src/systems/failures/src/a380.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcService.ts
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPageNotAvail.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
  fbw-a380x/src/systems/instruments/src/MFD/shared/MFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FmsDataPublisher.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/ResetPanelPublisher.tsx
  fbw-common/src/systems/instruments/src/EFB/index.ts
  fbw-common/src/systems/instruments/src/ND/pages/arc/index.tsx
  fbw-common/src/systems/instruments/src/ND/pages/rose/RoseNavPage.tsx
  fbw-common/src/systems/instruments/src/ND/types/GenericFmsEvents.ts
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#9678 feat(a380x/fcu): add TRUE indication on FCU when TRUE/MAG pb is pushed
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/FCU/Components/FcuDisplay.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Components/Heading.tsx
  fbw-a380x/src/systems/instruments/src/FCU/Managers/HeadingManager.ts
  fbw-a380x/src/systems/instruments/src/FCU/Publishers/FcuPublisher.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9568 feat(issueTemplates): Update bug report templates to include simulator versions
  .github/ISSUE_TEMPLATE/bug_report_a32nx.yaml
  .github/ISSUE_TEMPLATE/bug_report_a380x.yaml
Labels: QA Not Required

#9751 feat(A380x/mfd): Add airport page to DATA > AIRPORT
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/DATA/MfdFmsDataAirport.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/DATA/MfdFmsDataAirport.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/README.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/ConditionalComponent.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FmsHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/IconButton.tsx
Labels: FMS, QA Passed, QA Ready to Test, QA A380 Only, A380X, MFD

#9766 fix(a380x): Add PRIM/SEC/FCDC failures to EFB
  .github/CHANGELOG.md
  fbw-a380x/src/systems/failures/src/a380.ts
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/failures/FailureList.h
  fbw-a380x/src/wasm/fbw_a380/src/failures/FailuresConsumer.cpp
Labels: QA Not Required, A380X

#9771 fix(mathutils): remove machToKCas temperature dependency
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-common/src/systems/shared/src/MathUtils.spec.ts
  fbw-common/src/systems/shared/src/MathUtils.ts
Labels: QA Not Required

#9770 fix(a380x/pfd): Fix precision of pitch trim indicator
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PitchTrimDisplay.tsx
Labels: QA Not Required, A380X

#9733 fix(a32nx/takeoff calculator): Accuracy update for takeoff calculator V2 speeds
  fbw-a32nx/src/systems/shared/src/performance/a32nx_takeoff.ts
Labels: EFB, QA Passed, A32NX

#9724 fix(mfd): add leading zeros to track display and altitude on F-PLN page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed, A380X

#9774 fix(fms): more robust navdata error handling and sorting
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableArrivalsPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableDeparturesPage.js
  fbw-common/src/systems/navdata/client/backends/Msfs/Mapping.ts
Labels: QA Tier 1, QA Passed

#9683 feat(elec): a380 electrical improvements
  .github/CHANGELOG.md
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/BAT/index.tsx
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/alternating_current.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/direct_current.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/electrical/mod.rs
  fbw-common/src/wasm/systems/systems/src/electrical/battery_charge_rectifier_unit.rs
Labels: QA Passed, A380X

#9769 fix(a380x/fms): Fix mach crossover altitude & T/O perf characteristic speeds
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/Adirs.ts
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-common/src/systems/shared/src/MathUtils.ts
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#9747 feat(efb): troubleshooting page
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableArrivalsPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_AvailableDeparturesPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_DirectToPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_FlightPlanPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_InitPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_LateralRevisionPage.js
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_MainDisplay.js
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-common/src/systems/instruments/src/EFB/Efb.tsx
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AboutPage.tsx
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/TroubleshootingPage.tsx
  fbw-common/src/systems/instruments/src/EFB/TroubleshootingContext.tsx
  fbw-common/src/systems/shared/src/Troubleshooting.ts
  fbw-common/src/systems/shared/src/index.ts
Labels: EFB, QA Tier 1

#9783 fix(a380x/fms): Accept plus/minus KCCU key as first entry into field
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/InputField.tsx
Labels: QA Not Required, A380X

#9791 fix(efb): copyright year
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AboutPage.tsx
Labels: QA Not Required

#9794 fix: coerce troubleshooting logs to strings
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_MainDisplay.js
  fbw-common/src/systems/shared/src/Troubleshooting.ts
Labels: QA Not Required

#9772 fix(sound): throttle local var
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/sound/sound.xml
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX

#9777 feat(atsu): msfs taf source
  .github/CHANGELOG.md
  fbw-common/src/systems/datalink/common/src/messages/TafMessage.ts
  fbw-common/src/systems/datalink/router/src/Router.ts
  fbw-common/src/systems/datalink/router/src/msfs/MsfsConnector.ts
  fbw-common/src/systems/datalink/router/src/webinterfaces/NXApiConnector.ts
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/AtsuAocPage.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, QA MSFS 2024 Only, MSFS2024

#9788 fix(a380/mfd): trip fuel calculation & block not editable across flights in fuel & load
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/README.md
  fbw-a380x/src/systems/instruments/src/MFD/shared/NXSystemMessages.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9775 feat(a32nx/fms): database holds
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_HoldAtPage.js
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, QA MSFS 2024 Only, MSFS2024

#9792 feat(navdata): allow airports to be used as fixes
  .github/CHANGELOG.md
  fbw-common/src/systems/navdata/client/backends/Msfs/FacilityCache.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/Mapping.ts
  fbw-common/src/systems/navdata/shared/types/Airport.ts
  fbw-common/src/systems/navdata/shared/types/BaseFix.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test

#9754 fix(a380/nd): Fix TERR text position
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/TerrainMapThresholds.tsx
Labels: ND, QA Tier 1, QA Passed, QA Ready to Test, A380X

#9809 fix(a380x/fms): Vapp wind correction
  .github/CHANGELOG.md
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
Labels: FMS, QA Not Required, A380X

#9765 fix(a380/mfd): FLT NBR is now displayed as a mandatory input field
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AbstractHeader.tsx
Labels: FMS, QA Not Required, A380X

#9674 feat(a380x/pfd): Add FCU ALT ABOVE/BELOW A/C FMA messages
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/PFD/animations.scss
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/PFD/style.scss
Labels: FMA, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9814 fix(a380x/mfd): Fix callsign display after #9765
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AbstractHeader.tsx
Labels: QA Not Required, A380X

#9811 fix(a380x/mfd): Change soft key behaviour to page & add individual line scroll through KCCU in FPLN
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X
