Repository flybywiresim/aircraft, pull requests merged in 2025-02, with the labels that each got.

#9802 feat(a32nx/fms): add h4 db swap confirm
  .github/CHANGELOG.md
  README.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/VCockpit/Instruments/Airliners/FlyByWire_A320_Neo/CDU/A320_Neo_CDU_IdentPage.js
Labels: QA Tier 1, QA Passed, A32NX

#9471 feat(a380x/mfd): basic FIX INFO functionality and lat rev menu fixes
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/NavigationDatabase.ts
  fbw-a32nx/src/systems/fmgc/src/efis/EfisSymbols.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/DataManager.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/ObservableFlightPlanManager.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/interface/FmsDataInterface.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/interface/FmsDisplayInterface.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FixInfo.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/ObservableFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/ReadonlyFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/uplink/CoRouteUplinkAdapter.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/uplink/SimBriefUplinkAdapter.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcService.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcServiceInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/DestinationWindow.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/FplnRevisionsMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/InsertNextWptFrom.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnAirways.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnFixInfo.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnFixInfo.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/README.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AbstractHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FlightPlanFooter.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FmsPage.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/style.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/widget-style.scss
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/Button.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/InputField.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/TopTabNavigator.tsx
Labels: FMS, QA Passed, A380X

#9804 feat(a380x/fms): Add (auto) step climbs; Allow CLB/DES constraint selection
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/CruiseStep.ts
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/README.md
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/DestinationWindow.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/FplnRevisionsMenu.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/InsertNextWptFrom.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnArr.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDep.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDirectTo.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnHold.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/widget-style.scss
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/DropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/InputField.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/RadioButtonGroup.tsx
  fbw-common/src/systems/instruments/src/EFB/AircraftContext.ts
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/RealismPage.tsx
Labels: FMS, QA Passed, QA A380 Only, A380X

#9807 chore(a380x/mfd): Subscriptions overhaul
  fbw-a380x/mach.config.js
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/JS/fbw-a380x/A32NX_Util.js
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/DestinationWindow.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/InsertNextWptFrom.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnAirways.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnArr.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDep.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDirectTo.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnFixInfo.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnHold.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdMsgList.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionIrs.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/POSITION/MfdFmsPositionNavaids.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvStatusSwitching.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/ActivePageTitleBar.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/AtccomHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FcuBkupHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FmsHeader.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FmsPage.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/Footer.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/MfdUiService.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/SurvHeader.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/AdscButton.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/Button.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/ConditionalComponent.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/ConfirmationDialog.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/ContextMenu.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/DropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/IconButton.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/InputField.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/MouseCursor.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/PageSelectorDropdownMenu.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/SurvButton.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/SurvStatusButton.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/SurvStatusItem.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/TopTabNavigator.tsx
  fbw-a380x/src/systems/shared/src/A32NX_Util.ts
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X, MFD

#9158 fix(fms): regression of approach ident on ND
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9652 fix(fmgc): multiple FMGC fixes and small additions
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/model/FmgcComputer.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/model/FmgcComputer.h
  fbw-a32nx/src/wasm/fbw_a320/src/model/FmgcComputer_data.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/model/FmgcComputer_types.h
  fbw-a32nx/src/wasm/fbw_a320/src/recording/FlightDataRecorder.h
Labels: QA Tier 1, QA Passed, A32NX

#9725 feat(a380x/oans): EXIT missed, flags/crosses, visual fixes
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/oans/oans-cross.png
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Images/fbw-a380x/oans/oans-flag.png
  fbw-a380x/src/images/oans/oans-cross.svg
  fbw-a380x/src/images/oans/oans-flag.svg
  fbw-a380x/src/systems/instruments/src/AtcMailbox/AtcMailbox.tsx
  fbw-a380x/src/systems/instruments/src/EFB/index.tsx
  fbw-a380x/src/systems/instruments/src/MFD/MFD.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/MouseCursor.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/ResetPanelPublisher.tsx
  fbw-a380x/src/systems/instruments/src/ND/OANSRunwayInfoBox.tsx
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/ND/oans-style.scss
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/autobrakes.rs
  fbw-common/src/systems/instruments/src/EFB/AircraftContext.ts
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/SimOptionsPage.tsx
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/ND/pages/arc/LubberLine.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OancControlPanelUtils.ts
  fbw-common/src/systems/instruments/src/OANC/OancLabelFilter.ts
  fbw-common/src/systems/instruments/src/OANC/OancLabelManager.ts
  fbw-common/src/systems/instruments/src/OANC/OancMarkerManager.ts
  fbw-common/src/systems/instruments/src/OANC/OancMovingModeOverlay.tsx
  fbw-common/src/systems/instruments/src/OANC/OancPositionComputer.ts
  fbw-common/src/systems/instruments/src/OANC/OansBrakeToVacateSelection.ts
  fbw-common/src/systems/instruments/src/OANC/OansControlEventPublisher.ts
  fbw-common/src/systems/instruments/src/OANC/ResetPanelPublisher.tsx
  fbw-common/src/systems/instruments/src/OANC/tsconfig.json
  fbw-common/src/systems/shared/src/amdb.ts
  fbw-common/src/systems/shared/src/publishers/OansBtv/FmsOansPublisher.ts
Labels: ND, QA Tier 2, QA Passed, QA Ready to Test, QA A380 Only, A380X

#9680 feat(fms): implement TOO STEEP PATH
  fbw-a32nx/src/systems/fmgc/src/components/fms-messages/FmsMessages.ts
  fbw-a32nx/src/systems/fmgc/src/components/fms-messages/TooSteepPathAhead.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/legs/FlightPlanLeg.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/Geometry.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/ConstraintReader.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/VerticalProfileManager.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/VnavDriver.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/climb/ClimbStrategy.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/ApproachPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/DescentPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/DescentStrategy.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/GeometricPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/GeometricPathPlanner.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/IdlePathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/descent/TacticalDescentPathBuilder.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/profile/NavGeometryProfile.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/profile/TemporaryCheckpointSequence.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_FlightPlanPage.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/NXSystemMessages.ts
  fbw-common/src/systems/shared/src/FmMessages.ts
  fbw-common/src/systems/shared/src/MathUtils.ts
Labels: QA Passed, A32NX, A380X

#9827 feat(a32nx/mcdu): H4 ground & cruise temperature sign improvement
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_InitPage.ts
Labels: QA Tier 1, QA Passed, A32NX

#9849 fix(a380x/oans): Fix compass rose/lubber line layer order & BTV fallback input field
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/ND/OansControlPanel.tsx
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OancMovingModeOverlay.tsx
Labels: QA Passed, QA A380 Only, A380X

#9830 fix(a380x/flight model): A380X Flight Model Update
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PitchTrimDisplay.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/SD/StatusArea.tsx
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FuelSystemPublisher.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectData.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
Labels: Flight Model, QA Passed, A380X, MSFS2024

#9848 fix(a380/mfd): fpln navigation limits with scroll
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9851 fix(a380x/fws): Fix inactive procedure items rendering in EWD
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/ProcedureLinesGenerator.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FwsEwdPublisher.ts
Labels: QA Not Required, A380X

#8841 fix(fms): remove forced turn on following leg after leg insertion
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/BaseFlightPlan.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.ts
Labels: QA Tier 1, FMS, QA Passed, A32NX

#9835 feat(a380x/fws): RAT, Defueling/Refueling & High altitude airport memos
  .github/CHANGELOG.md
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FuelSystemPublisher.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/InteractivePointsPublisher.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-a380x/src/systems/systems-host/systems/LegacyFuel.ts
Labels: QA Tier 1, QA Passed, A380X

#9789 fix(a380/nd): Fixed TCAS message position and add TCAS STBY
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/ND/style.scss
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/TcasWxrMessages.tsx
  fbw-common/src/systems/instruments/src/NavigationDisplay.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9857 fix(a380/fws): refuel panel door event
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/InteractivePointsPublisher.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FuelSystemPublisher.ts
Labels: QA Not Required, A380X

#9856 fix(a380x/mfd): fix crash of fix info page
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/ObservableFlightPlan.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnFixInfo.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9739 fix(a380x/nd): Update ND and VD Range Change Messages
  fbw-a32nx/src/systems/instruments/src/ND/instrument.tsx
  fbw-a32nx/src/systems/instruments/src/ND/style.scss
  fbw-a380x/src/systems/instruments/src/ND/NDControlEvents.ts
  fbw-a380x/src/systems/instruments/src/ND/VerticalDisplay.tsx
  fbw-a380x/src/systems/instruments/src/ND/instrument.tsx
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/instruments/src/ND/NDControlEvents.ts
  fbw-common/src/systems/instruments/src/NavigationDisplay.ts
Labels: ND, QA Passed, A32NX, A380X

#9866 fix: invalid bing map calls
  fbw-a32nx/src/systems/instruments/src/ATC/index.tsx
  fbw-a32nx/src/systems/tcas/src/components/TcasComputer.ts
  fbw-a32nx/src/systems/tcas/src/components/TcasSoundManager.ts
  fbw-a32nx/src/systems/tcas/src/index.ts
  fbw-a32nx/src/systems/tcas/src/lib/TcasComponent.ts
  fbw-a32nx/src/systems/tcas/src/loop.ts
  fbw-a380x/src/systems/systems-host/systems/tcas/components/LegacyTcasComputer.ts
  fbw-common/src/systems/datalink/router/src/vhf/VDL.ts
  fbw-common/src/systems/shared/src/TrafficListener.ts
  fbw-common/src/systems/shared/src/index.ts
Labels: QA Tier 1, QA Passed

#9867 feat(a380x/fms): add rnp ar label for sid and appr via
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnArr.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDep.tsx
Labels: QA Not Required, A380X

#9872 fix(a380x/oans): Fix deleting taxiway crosses/flags via the MAP DATA tab
  fbw-common/src/systems/instruments/src/OANC/OancMarkerManager.ts
Labels: QA Not Required, A380X

#9873 fix(a380x/oit): Changelog addition
  .github/CHANGELOG.md
Labels: QA Not Required, A380X

#9874 fix(a380x/fms): lat/lon waypoint ident
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/DataManager.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
Labels: QA Tier 1, QA Passed
