Repository flybywiresim/aircraft, pull requests merged in 2025-03, with the labels that each got.

#9784 fix(a32nx/fcu): Fixed FCU ALT selector immediately switching to 1000s when interval selected
  .github/CHANGELOG.md
  fbw-a32nx/src/wasm/fbw_a320/src/model/FcuComputer.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/model/FcuComputer_types.h
Labels: QA Tier 1, QA Ready to Test, A32NX

#9887 fix(a380x/fws): Rounding error for OVERSPEED warning (based on Mach)
  .github/CHANGELOG.md
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Not Required, A380X

#9624 feat(a380x/mfd): add ATCCOM MSG RECORD page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/MfdPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/MessageElement.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/MessageElementMonitored.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/Elements/MessageRecordNav.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomMsgRecord.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomMsgRecord.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomMsgRecordAll.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomMsgRecordExpand.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/ATCCOM/MfdAtccomMsgRecordMonitored.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/README.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/IconButton.tsx
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#9547 fix(nd): Updated active waypoint to be left aligned
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/ND/style.scss
  fbw-common/src/systems/instruments/src/ND/ND.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X

#9875 fix(a32nx/fms): sort runways alphabetically
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_AvailableArrivalsPage.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_AvailableDeparturesPage.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_LateralRevisionPage.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_VerticalRevisionPage.ts
Labels: QA Passed, QA Ready to Test, A32NX

#9877 fix(a380/mfd): Company flightplan & initialize weight scratchpad messages
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/shared/NXSystemMessages.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9899 refactor: move tests to vitest, initial work to revive FMS tests
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitignore
  fbw-a32nx/src/systems/fmgc/src/FmsError.ts
  fbw-a32nx/src/systems/fmgc/src/NavigationDatabase.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanManager.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanService.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/LegUtils.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/FlightPlan.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/plans/PendingAirways.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/segments/EnrouteSegment.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/segments/enroute/AirwayLoading.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/segments/enroute/WaypointLoading.spec.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/test/Database.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/test/TestFlightPlanService.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/test/TestFms.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/uplink/SimBriefUplinkAdapter.spec.ts
  fbw-a32nx/src/systems/fmgc/tsconfig.json
  fbw-a32nx/src/systems/instruments/buildSrc/directories.mjs
  fbw-a32nx/src/systems/instruments/buildSrc/igniter/tasks.mjs
  fbw-a380x/src/systems/instruments/buildSrc/directories.mjs
  fbw-a380x/src/systems/instruments/buildSrc/igniter/tasks.mjs
  fbw-common/src/jest/setupJestMock.js
  fbw-common/src/jest/setupJestMock.ts
  fbw-common/src/systems/instruments/src/navigraph.ts
  fbw-common/src/systems/navdata/client/backends/Test/Test.ts
  fbw-common/src/systems/navdata/client/index.ts
  fbw-common/src/systems/navdata/shared/utils.spec.ts
  fbw-common/src/systems/shared/src/MathUtils.spec.ts
  fbw-common/src/systems/shared/src/RadioUtils.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/__tests__/integration.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/readers/queued-sim-var-reader.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/readers/transaction-reader.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/sim-var-reader-writer.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/writers/queue.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/writers/queued-sim-var-writer.spec.ts
  fbw-common/src/systems/shared/src/failures/communication/writers/transaction-writer.spec.ts
  fbw-common/src/systems/shared/src/failures/failures-consumer.spec.ts
  fbw-common/src/systems/shared/src/failures/failures-orchestrator.spec.ts
  fbw-common/src/systems/shared/src/parseMetar.spec.ts
  package.json
  pnpm-lock.yaml
  vitest.config.mjs
Labels: QA Not Required

#9901 fix: do not launch tests in watch mode
  package.json
Labels: QA Not Required

#9904 fix(a32nx/fms): mcdu approach name format
  .github/CHANGELOG.md
  fbw-common/src/systems/shared/src/ApproachUtils.ts
Labels: QA Tier 1, QA Passed

#9825 build: bump dev-env image version
  fbw-a32nx/src/localization/build-locPak-translation.js
  fbw-a32nx/src/wasm/systems/a320_hydraulic_simulation_graphs/src/main.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/fuel/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/payload/test.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/gear.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/trimmable_horizontal_stabilizer.rs
  fbw-a380x/src/localization/build-locPak-translation.js
  fbw-a380x/src/wasm/systems/a380_systems/src/fuel/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/payload/test.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/structural_flex.rs
  fbw-common/src/systems/instruments/src/EFB/Localization/build-flypad-translation.js
  fbw-common/src/wasm/systems/systems/src/apu/aps3200.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/brake_circuit.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/flap_slat.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/linear_actuator.rs
  fbw-common/src/wasm/systems/systems/src/hydraulic/mod.rs
  fbw-common/src/wasm/systems/systems/src/landing_gear/mod.rs
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
  fbw-common/src/wasm/systems/systems/src/shared/can_bus.rs
  fbw-common/src/wasm/systems/systems/src/structural_flex/elevator_flex.rs
  fbw-common/src/wasm/systems/systems/src/structural_flex/engine_wobble.rs
  fbw-common/src/wasm/systems/systems_wasm/src/aspects.rs
  fbw-common/src/wasm/systems/systems_wasm/src/lib.rs
  rust-toolchain.toml
  scripts/dev-env/run.cmd
  scripts/dev-env/run.sh
Labels: Do Not Merge, Extensive Testing Needed, QA Tier 1, QA Passed

#9900 fix(a32nx/fms): disallow create waypoint ident edits, not in db handling
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/flightplanning/DataManager.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/WaypointEntryUtils.ts
  fbw-a32nx/src/systems/fmgc/src/flightplanning/interface/FmsDataInterface.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_NewWaypoint.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
Labels: QA Tier 1, QA Passed

#9894 fix(a32nx/pfd): mach visibility with LS selected
  fbw-a32nx/src/systems/instruments/src/PFD/SpeedIndicator.tsx
Labels: PFD, QA Tier 1, QA Passed, A32NX

#9838 fix(a380x/mfd): Fix time utc on fpln
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#9651 fix(a380x): make FO seat switches momentary
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/interactive-parts.xml
Labels: QA Passed, QA Ready to Test, A380X

#9908 feat(a32nx): approach via differentiation and layout fix
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A320_Neo_CDU_MainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_AvailableArrivalsPage.ts
Labels: QA Passed, A32NX

#9919 fix(a32nx/pfd): only show mach flag if FW
  fbw-a32nx/src/systems/instruments/src/PFD/SpeedIndicator.tsx
Labels: QA Passed, A32NX

#9902 fix(nd): approach message alignment
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-common/src/systems/instruments/src/ND/ND.tsx
  fbw-common/src/systems/shared/src/simvar.spec.ts
  fbw-common/src/systems/shared/src/simvar.ts
Labels: ND, QA Tier 1, QA Passed

#9934 fix: close simconnect in wasm framework
  fbw-common/src/wasm/cpp-msfs-framework/MsfsHandler/MsfsHandler.cpp
Labels: QA Not Required

#9694 fix(a380x/fctl): Protection speeds improvements after flight model update
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorFixed.tsx
  fbw-a380x/src/systems/instruments/src/PFD/AttitudeIndicatorHorizon.tsx
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/PFD/SpeedIndicator.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/ArincValueProvider.ts
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/shared/src/OperatingSpeeds.tsx
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/wasm/fbw_a380/CMakeLists.txt
  fbw-a380x/src/wasm/fbw_a380/build.sh
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/fac/Fac.h
  fbw-a380x/src/wasm/fbw_a380/src/fcdc/Fcdc.cpp
  fbw-a380x/src/wasm/fbw_a380/src/fcdc/Fcdc.h
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer_private.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380LateralDirectLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380LateralNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchAlternateLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchDirectLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/FacComputer_private.h
Labels: QA Passed, QA A380 Only, A380X

#9932 fix(a380x/oans): RWY AHEAD not disappearing when OANS disabled
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
  fbw-common/src/systems/instruments/src/OANC/OansBrakeToVacateSelection.ts
Labels: QA A380 Only, A380X

#9936 fix(a380x/oans): Fix #9932: RWY AHEAD warning toggling when one OANS …
  fbw-common/src/systems/instruments/src/OANC/Oanc.tsx
Labels: QA Not Required, A380X

#9935 fix: only close simconnect when connection was established
  fbw-common/src/wasm/cpp-msfs-framework/MsfsHandler/MsfsHandler.cpp
  fbw-common/src/wasm/cpp-msfs-framework/MsfsHandler/MsfsHandler.h
Labels: QA Not Required

#9702 feat(elec): fuel pump power consumption
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
  fbw-a32nx/src/behavior/src/A32NX_Interior_Misc.xml
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/alternating_current.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/electrical/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/fuel/mod.rs
  fbw-a32nx/src/wasm/systems/a320_systems_wasm/src/lib.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/fuel/fuel_quantity_management_system.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/fuel/mod.rs
  fbw-a380x/src/wasm/systems/a380_systems_wasm/src/lib.rs
  fbw-common/src/wasm/systems/systems/src/fuel/mod.rs
  fbw-common/src/wasm/systems/systems/src/shared/mod.rs
  fbw-common/src/wasm/systems/systems_wasm/src/lib.rs
Labels: QA Passed, A32NX, A380X

#9918 feat(fms): re-architect nearest facilities, improve perf, make efis overlay available in plan
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/NavigationDatabase.ts
  fbw-a32nx/src/systems/fmgc/src/efis/EfisSymbols.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/NavaidSelectionManager.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/Navigation.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/NearbyFacilities.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_AirportsMonitor.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-common/src/systems/navdata/client/Database.ts
  fbw-common/src/systems/navdata/client/NearbyFacilityMonitor.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/FacilityCache.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/FsTypes.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/Mapping.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/Msfs.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/MsfsNearbyFacilityMonitor.ts
  fbw-common/src/systems/navdata/client/backends/Msfs/NearbyFacilityCache.ts
  fbw-common/src/systems/navdata/client/backends/Test/Test.ts
  fbw-common/src/systems/navdata/client/index.ts
  fbw-common/src/systems/navdata/shared/DataInterface.ts
Labels: QA Tier 1

#9933 feat: adr and ir bus publishers
  fbw-common/src/systems/shared/src/publishers/ArincBus/AdrBusPublisher.ts
  fbw-common/src/systems/shared/src/publishers/ArincBus/IrBusPublisher.ts
  fbw-common/src/systems/shared/src/publishers/ArincBus/index.ts
  fbw-common/src/systems/shared/src/publishers/index.ts
Labels: QA Not Required

#9893 fix(clock): chrono rollover
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/Clock/Components/Chrono.tsx
Labels: QA Tier 1, QA Passed

#9930 fix(a380x/fws): Fix fuel pump sensing logic for PARKING normal procedure
  .github/CHANGELOG.md
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
Labels: QA Not Required, A380X

#9843 feat(a380x/fctl): Automatic THS trim after engine start or touch and go
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/pedestal/pedestal-inputs.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/pedestal/pedestal.xml
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/PseudoFwcPublisher.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PitchTrimDisplay.tsx
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/AutoThsTrimmer.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#9944 fix(a380x): allow CI 0 to be accepted by PERF pages
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Passed

#9960 fix(a380x/cds): De-duplicate button icons (visual fix)
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/IconButton.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitFooter.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitHeader.tsx
Labels: QA Not Required, A380X

#9959 fix(a380x/pfd): Pitch trim display: White line visibility only after landing when below 30kts GS
  fbw-a380x/src/systems/instruments/src/PFD/PFD.tsx
  fbw-a380x/src/systems/instruments/src/PFD/PitchTrimDisplay.tsx
Labels: PFD, QA Passed, QA A380 Only, A380X

#9957 feat(a380x/mfd): add question mark to mfd font
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/FBW-Display-EIS-A380-SlashedZero.ttf
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/FBW-Display-EIS-A380.ttf
  fbw-a380x/src/fonts/FBW-Display-EIS-A380-SlashedZero.sfd
  fbw-a380x/src/fonts/FBW-Display-EIS-A380.sfd
Labels: QA Passed

#9964 chore: bump version to 0.14
  .github/CHANGELOG.md
  package.json
Labels: QA Not Required
