Repository flybywiresim/aircraft, pull requests merged in 2025-08, with the labels that each got.

#9905 fix(fms): cf leg after if leg case
  fbw-a32nx/src/systems/fmgc/src/guidance/Geometry.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/legs/CF.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/lnav/legs/IF.ts
Labels: QA Tier 1, QA Passed

#10214 feat(sfcc): implemented dual SFCC simulation
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/instruments/src/EWD/shared/EwdSimvarPublisher.tsx
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_Core/A32NX_GPWS.ts
  fbw-a32nx/src/systems/systems-host/systems/FWC/PseudoFWC.ts
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.h
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/flaps_computer.rs
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/mod.rs
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/PFD/shared/PFDSimvarPublisher.tsx
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/flaps_computer.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
Labels: QA Passed, A32NX, A380X

#10240 feat(A380x/fws): Timed items
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/EWD/EWD.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/AttentionGetter.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/EngineGauge.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/WdAbnormalSensedProcedures.tsx
  fbw-a380x/src/systems/instruments/src/EWD/elements/WdAbstractChecklistComponent.tsx
  fbw-a380x/src/systems/instruments/src/EWD/style.scss
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata24.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata26.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata27.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata28.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata29-30.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata31-32-33.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata70.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata80-rest.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/ProcedureLinesGenerator.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FwsEwdPublisher.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/PseudoFwcPublisher.tsx
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsAbnormalNonSensed.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsInopSys.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsLimitations.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsMemos.ts
Labels: QA Tier 1, FWS, QA Passed, QA Ready to Test, A380X

#10079 fix(a380/fws): Inhibit some cond, vent & taws faults when failure caused due to no power
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata24.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata27.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata29-30.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata31-32-33.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata34.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsAbnormalNonSensed.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsInopSys.ts
Labels: QA Tier 1, QA Passed, A380X

#10271 fix(a380x): Bugfixes for SD status area (ISA, ZFWCG) & THR RED on FMS PERF page, RADIO alt handling
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a32nx/src/systems/instruments/src/SD/StatusArea/StatusArea.tsx
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/DataEntryFormats.tsx
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a380x/src/systems/instruments/src/SDv2/SDSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/SDv2/StatusArea.tsx
  fbw-a380x/src/systems/instruments/src/SDv2/instrument.tsx
Labels: QA Passed, QA Ready to Test, A32NX, A380X

#10042 fix(a380x/sd): add clamp to CABIN ALT donut
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/SD/Pages/Press/elements/CabAlt.tsx
Labels: QA Passed, QA A380 Only, A380X

#10169 feat(adiru+a32nx/fwc/fms): add irs alignment messages/faults, quick re-align, move gps primary
  .github/CHANGELOG.md
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/fmgc/src/components/fms-messages/FmsMessages.ts
  fbw-a32nx/src/systems/fmgc/src/components/fms-messages/GpsPrimary.ts
  fbw-a32nx/src/systems/fmgc/src/components/fms-messages/GpsPrimaryLost.ts
  fbw-a32nx/src/systems/fmgc/src/components/index.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/Navigation.ts
  fbw-a32nx/src/systems/fmgc/src/navigation/NavigationProvider.ts
  fbw-a32nx/src/systems/instruments/src/Common/EWDMessages.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/FormattedFwcText.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/LowerLeftDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/LowerRightDisplay.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/instrument.tsx
  fbw-a32nx/src/systems/instruments/src/EWD/style.scss
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy_pages/A320_Neo_CDU_ProgressPage.ts
  fbw-a32nx/src/systems/instruments/src/MsfsAvionicsCommon/FlashingElementUtils.tsx
  fbw-a32nx/src/systems/instruments/src/MsfsAvionicsCommon/providers/ExtendedClockProvider.ts
  fbw-a32nx/src/systems/instruments/src/PFD/FMA.tsx
  fbw-a32nx/src/systems/instruments/src/PFD/PseudoDmc.ts
  fbw-a32nx/src/systems/instruments/src/PFD/instrument.tsx
  fbw-a32nx/src/systems/shared/src/publishers/A32NXDisplayManagementPublisher.ts
  fbw-a32nx/src/systems/systems-host/systems/FWC/PseudoFWC.ts
  fbw-a380x/src/systems/instruments/src/EWD/elements/FormattedFwcText.tsx
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsCore.ts
  fbw-common/src/systems/shared/src/SimVarUtils.ts
  fbw-common/src/systems/shared/src/arinc429.ts
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
  fbw-common/src/wasm/systems/systems/src/simulation/update_context.rs
Labels: QA Tier 2, QA Passed

#10229 feat(a380x/ois): NSS AVNCS side initial implementation
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/behaviour/glareshield.xml
  fbw-a380x/src/localization/msfs/en-US.locPak
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/UiWidgets/MouseCursor.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/ResetPanelPublisher.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OIT.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OisLaptop.ts
  fbw-a380x/src/systems/instruments/src/OIT/OitAvncsContainer.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitDisplayUnit.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitFltOpsContainer.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitPageDirectory.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitSimvarPublisher.tsx
  fbw-a380x/src/systems/instruments/src/OIT/OitUiService.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsEfbOverlay.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsFooter.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsHeader.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsLoadingScreen.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsLogin.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsMenuPage.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsPerformance.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/FltOps/OitFltOpsStatus.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/CompanyCom/OitAvncsCompanyCom.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/CompanyCom/OitAvncsCompanyComFlightLog.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/CompanyCom/OitAvncsCompanyComInbox.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/CompanyCom/OitAvncsCompanyComMenu.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsFolderNavigator.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsFooter.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsHeader.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsLoadingScreen.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsLogin.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsMenu.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/NssAvncs/OitAvncsSubHeader.tsx
  fbw-a380x/src/systems/instruments/src/OIT/Pages/OitNotFound.tsx
  fbw-a380x/src/systems/instruments/src/OIT/System/AircraftNetworkServerUnit.ts
  fbw-a380x/src/systems/instruments/src/OIT/System/AnsuOps.ts
  fbw-a380x/src/systems/instruments/src/OIT/System/SecureCommunicationInterface.ts
  fbw-a380x/src/systems/instruments/src/OIT/instrument.tsx
  fbw-a380x/src/systems/instruments/src/OIT/oit-display-unit.scss
  fbw-a380x/src/systems/instruments/src/OIT/style.scss
  fbw-a380x/src/systems/instruments/src/OIT/widget-style.scss
  fbw-a380x/src/systems/systems-host/SystemsHost.ts
  fbw-common/src/systems/shared/src/publishers/ArincBus/FwcBusPublisher.ts
  fbw-common/src/systems/shared/src/publishers/ArincBus/index.ts
Labels: QA Passed, QA A380 Only, A380X

#10285 feat(adirs): added CAS to ADIRS interface
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/flaps_computer.rs
  fbw-a380x/src/wasm/systems/a380_systems/src/hydraulic/mod.rs
  fbw-common/src/wasm/systems/systems/src/enhanced_gpwc/mod.rs
  fbw-common/src/wasm/systems/systems/src/navigation/adirs.rs
  fbw-common/src/wasm/systems/systems/src/shared/mod.rs
Labels: QA Not Required, A32NX, A380X

#10268 fix(a380x): Improve engine out behavior in FG and FMS
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcService.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcServiceInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnDuplicateNames.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsInit.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.scss
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdMsgList.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvStatusSwitching.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/FmsPage.tsx
  fbw-a380x/src/wasm/fbw_a380/CMakeLists.txt
  fbw-a380x/src/wasm/fbw_a380/build.sh
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/interface/SimConnectInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380FacComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380LateralNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchAlternateLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PitchNormalLaw.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380PrimComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/A380SecComputer_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotLaws.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotLaws.h
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotLaws_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotLaws_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine.h
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine_data.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/AutopilotStateMachine_types.h
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/Autothrust.h
  fbw-a380x/src/wasm/fbw_a380/src/model/maximum_Abpa9SzA.h
  fbw-a380x/src/wasm/fbw_a380/src/model/maximum_Y6vyn2io.cpp
  fbw-a380x/src/wasm/fbw_a380/src/model/maximum_Y6vyn2io.h
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#10296 fix(a32nx/fws): to config button not triggering TO memo
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_Core/A32NX_FWC.ts
Labels: QA Not Required, A32NX

#10225 feat(a380x): Enabled gravityfeeding and fixed crossfeed fuel usage
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/approach.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/apron.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/cruise.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/final.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/flight_model.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/runway.FLT
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/systems.cfg
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/taxi.flt
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/EngineControl_A380X.cpp
  fbw-a380x/src/wasm/fadec_a380x/src/Fadec/FadecSimData_A380X.hpp
Labels: QA Tier 2, QA Passed, QA Ready to Test, QA A380 Only, A380X

#10310 fix(a380x/eis): w glyph in font
  .github/CHANGELOG.md
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/FBW-Display-EIS-A380-SlashedZero.ttf
  fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Fonts/fbw-a380x/FBW-Display-EIS-A380.ttf
  fbw-a380x/src/fonts/FBW-Display-EIS-A380-SlashedZero.sfd
  fbw-a380x/src/fonts/FBW-Display-EIS-A380.sfd
Labels: QA Tier 1, QA Passed, A380X

#10298 fix(a380x/ewd): ecl navigation on completed sensed items
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/EWD/elements/WdAbstractChecklistComponent.tsx
  fbw-a380x/src/systems/instruments/src/EWD/style.scss
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata21-22-23.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata27.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/AbnormalSensed/ata28.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/ProcedureLinesGenerator.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsAbnormalSensed.ts
  fbw-a380x/src/systems/systems-host/CpiomC/FlightWarningSystem/FwsCore.ts
Labels: QA Tier 1, QA Passed, A380X

#10320 fix(a32nx/fuel): Fqi FOB unit conversion removed
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_FMCMainDisplay.ts
Labels: A32NX

#10304 fix(A380X/MFD): Changed colors of TCAS modes to match correct colors in A380 FCOM
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/SURV/MfdSurvControls.tsx
Labels: QA Passed

#10321 fix(MODEL): Inverted behavior of FADEC GND PWR PB
  .github/CHANGELOG.md
  fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/A320_NEO_INTERIOR.xml
  fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/A380_COCKPIT.xml
Labels: QA Passed, A32NX, A380X
