Repository flybywiresim/aircraft, pull requests merged in 2025-07, with the labels that each got.

#10098 feat(a380x/fms): display tailwind component on APPR PERF page
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#10217 feat(a320/sfcc): added implementation of SFCC FAP discrete outputs
  fbw-a32nx/docs/a320-simvars.md
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_Core/A32NX_GPWS.ts
  fbw-a32nx/src/wasm/systems/a320_systems/src/hydraulic/flaps_computer.rs
Labels: QA Passed

#10216 feat(fbw): completed LGCIU A429 interface in FBW
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.cpp
  fbw-a32nx/src/wasm/fbw_a320/src/FlyByWireInterface.h
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.cpp
  fbw-a380x/src/wasm/fbw_a380/src/FlyByWireInterface.h
Labels: QA Passed

#10222 feat(a32nx/fws): implement BAT 1(2) off ECAM message
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/instruments/src/Common/EWDMessages.tsx
  fbw-a32nx/src/systems/systems-host/systems/FWC/PseudoFWC.ts
Labels: QA Passed

#10213 feat(a380x/fms): add ARINC 429 word containing the remaining flight time to destination
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
Labels: QA Not Required, QA A380 Only, A380X

#9528 feat(GSX): 380 Refuel/Door Sync, Harmonize GSX Code and External Power-Sync for 320+380
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/extras-host/index.ts
  fbw-a32nx/src/systems/instruments/src/MCDU/legacy/A32NX_Core/A32NX_Refuel.ts
  fbw-a380x/src/systems/extras-host/index.ts
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Fuel/A320_251N/A320Fuel.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Fuel/A380_842/A380Fuel.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Fuel/Fuel.tsx
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Settings/Pages/ThirdPartyOptionsPage.tsx
  fbw-common/src/systems/shared/src/GsxSync.ts
  fbw-common/src/systems/shared/src/index.ts
  fbw-common/src/systems/shared/src/publishers/Extras/GsxSimVarPublisher.ts
  fbw-common/src/systems/shared/src/publishers/Extras/index.ts
  fbw-common/src/systems/shared/src/publishers/Msfs/MsfsFlightModelPublisher.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A32NX, A380X, Localazy Keys Needed

#9999 feat(a380x): Dest efob below min FMS messages & FWS memo
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/fmgc/src/guidance/GuidanceController.ts
  fbw-a32nx/src/systems/fmgc/src/guidance/vnav/VerticalProfileComputationParameters.ts
  fbw-a380x/docs/a380-simvars.md
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FlightManagementComputer.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/FmcAircraftInterface.ts
  fbw-a380x/src/systems/instruments/src/MFD/FMC/fmgc.ts
  fbw-a380x/src/systems/instruments/src/MFD/instrument.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFpln.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsFuelLoad.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/MfdFmsPerf.tsx
  fbw-a380x/src/systems/instruments/src/MFD/shared/NXSystemMessages.ts
  fbw-a380x/src/systems/instruments/src/MFD/tsconfig.json
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/EcamMessages/index.tsx
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FmsMessagePublisher.ts
  fbw-a380x/src/systems/instruments/src/MsfsAvionicsCommon/providers/FmsMfdPublisher.ts
  fbw-a380x/src/systems/systems-host/index.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsCore.ts
  fbw-a380x/src/systems/systems-host/systems/FlightWarningSystem/FwsMemos.ts
  fbw-common/src/systems/instruments/src/MsfsAvionicsCommon/providers/RadioAltimeterPublisher.ts
  fbw-common/src/systems/instruments/src/MsfsAvionicsCommon/providers/index.ts
Labels: QA Tier 1, QA Passed, QA Ready to Test, A380X

#10248 fix(a380x/sd): Permanent area metric weight conversion
  fbw-a380x/src/systems/instruments/src/SDv2/StatusArea.tsx
Labels: QA Failed, QA A380 Only, A380X

#10187 fix(380x/pfd): Improvement to the logic of flap position indicator (#10114)
  .github/CHANGELOG.md
  fbw-a380x/src/systems/instruments/src/PFD/LowerArea.tsx
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#10220 fix(a380x/pfd): FMA mda/dh text size
  fbw-a380x/src/systems/instruments/src/PFD/FMA.tsx
Labels: QA Passed, QA Ready to Test, QA A380 Only, A380X

#10267 fix(efb): pushback map on fs2024
  fbw-common/src/systems/instruments/src/EFB/UtilComponents/BingMap.tsx
  fbw-common/src/typings/fs-base-ui/html_ui/JS/NetBingMap.d.ts
Labels: QA Tier 1, QA Passed

#9998 fix(efb): split jetway and passenger stairs into separate buttons
  .github/CHANGELOG.md
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A320_251N/A320Services.tsx
  fbw-common/src/systems/instruments/src/EFB/Ground/Pages/Services/A380_842/A380Services.tsx
  fbw-common/src/systems/instruments/src/EFB/Localization/data/en.json
  fbw-common/src/systems/instruments/src/EFB/Store/features/groundServicePage.ts
Labels: QA Passed, QA Ready to Test, A32NX, A380X, MSFS2024

#10256 fix(a380x/mfd): manually created altitude constraints inserted as climb constraints without type selected.
  fbw-a380x/src/systems/instruments/src/MFD/pages/FMS/F-PLN/MfdFmsFplnVertRev.tsx
  fbw-a380x/src/systems/instruments/src/MFD/pages/common/widget-style.scss
Labels: QA Tier 1, QA Passed, A380X

#10259 fix(a32nx/fwc): add monitor confirm time and fix flight phase inhibition
  .github/CHANGELOG.md
  fbw-a32nx/src/systems/systems-host/systems/FWC/PseudoFWC.ts
Labels: QA Tier 1, QA Passed
